.cta {
  display: flex;
  --gap: 0.5em;
  gap: var(--gap);

  @media (width < 768px) {
    flex-direction: column;
  }

  & .cta-column {
    display: flex;
    flex-direction: column;
    gap: var(--gap);

    &:first-child {
      width: 70%;
      @media (width < 768px) {
        width: 100%;
      }
    }
    &:last-child {
      width: 30%;
      @media (width < 768px) {
        width: 100%;
      }
    }
  }
}

.cta-section {
  background-color: rgba(var(--ids__bg-accent-RGB), 0.1);
  /* height: 100%; */
  padding: 1em 1em 1em 1em;

  &.form {
    background-color: rgba(var(--ids__bg-surface-RGB), 1);
    padding: 1em 3em 2em 1em;
  }
}

.schedule-form {
  display: flex;
  gap: 0.5em;
  margin-top: 1em;
}
