.models-container {
  margin: 1em 0;
  display: flex;
  flex-wrap: wrap;
  --gap: 0.3em;
  gap: var(--gap);
  --columns: 4;

  & .model-item {
    width: calc((100% - var(--gap) * (var(--columns) - 1)) / var(--columns));
    background-color: rgba(var(--ids__bg-surface-RGB), 1);
    border-radius: 0.5em;
    padding: 0.2em 0.2em 0.5em 0.3em;

    &.triggered {
      background-color: rgba(var(--ids__text-accent-RGB), 0.2);

      & h4 {
        font-weight: 700;
        &::before {
          content: "✓ ";
        }
      }
    }

    & h4 {
      font-size: 0.8em;
      font-weight: 550;

      transition: color 0.5s ease;
    }

    & p {
      font-size: 0.8em;
    }
  }
}
