/* Keyframe animation for playing clip background */
@keyframes playing-pulse {
  0%,
  100% {
    background-color: rgb(var(--ids__bg-hover-RGB), 0.2);
  }
  50% {
    background-color: rgb(var(--ids__bg-hover-RGB), 0.3);
  }
}

.transcript-container {
  width: 98%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  /* margin-bottom: -8em; */

  @media (width < 768px) {
    width: 100%;
  }

  & .transcript-clip {
    background-color: rgba(var(--ids__bg-surface-RGB), 1);
    padding: 0.7em 3.7em 0.7em 0.7em;
    cursor: pointer;
    transition: background-color 0.5s ease;
    --ids__radius: 2em;

    @media (width < 768px) {
      padding: 0.7em 1.7em 0.7em 0.7em;
    }

    & .clip-visualization {
      display: none;
    }

    border-radius: var(--ids__radius);
    corner-shape: squircle;

    &[data-speaker-index="1"] {
      margin-right: 3em;
      border-radius: 0 var(--ids__radius) var(--ids__radius) var(--ids__radius);

      @supports not (corner-shape: squircle) {
        --ids__radius: 2.5em;
        border-radius: 0;
        border-radius: initial;
        mask: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><path d="m0,0 l99,0 c1,0 1,0 1,1 l0,99 l-100,0 l0,-100 Z"/></svg>')
            top right / calc(var(--ids__radius) * 100) no-repeat intersect,
          url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><path d="m0,0 l100,0 l0,99 c0,1 -0,1 -1,1 l-99,0 Z"/></svg>')
            bottom right / calc(var(--ids__radius) * 100) no-repeat intersect,
          url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><path d="m0,0 l100,0 l0,100 l-99,0 c-1,0 -1,-0 -1,-1 Z"/></svg>')
            bottom left / calc(var(--ids__radius) * 100) no-repeat intersect;
      }
    }
    &[data-speaker-index="2"] {
      margin-left: 3em;
      border-radius: var(--ids__radius) 0 var(--ids__radius) var(--ids__radius);

      @supports not (corner-shape: squircle) {
        --ids__radius: 2.5em;
        border-radius: 0;
        border-radius: initial;
        mask: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><path d="m0,1 c0,-1 0,-1 1,-1 l99,0 l0,100 l-100,0 Z"/></svg>')
            top left / calc(var(--ids__radius) * 100) no-repeat intersect,
          url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><path d="m0,0 l100,0 l0,99 c0,1 -0,1 -1,1 l-99,0 Z"/></svg>')
            bottom right / calc(var(--ids__radius) * 100) no-repeat intersect,
          url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><path d="m0,0 l100,0 l0,100 l-99,0 c-1,0 -1,-0 -1,-1 Z"/></svg>')
            bottom left / calc(var(--ids__radius) * 100) no-repeat intersect;
      }
    }

    /* Hover styles specific to transcript container */
    &:hover,
    &.hover {
      background-color: rgb(var(--ids__bg-surface-RGB), 0.7);
      transition: background-color 0s ease;

      & .clip-text {
        color: rgb(var(--ids__text-hover-RGB), 1);
        transition: color 0s ease;
      }
    }

    /* Playing state - highlight currently playing clip */
    &.playing {
      animation: playing-pulse 1s ease-in-out infinite;
    }

    & .clip-caption {
      font-size: 0.75em;
      display: flex;
      flex-wrap: wrap;
      gap: 0.6em;
      margin-bottom: 0.4em;
      @media (width < 768px) {
        font-size: 0.7em;
      }

      & .time {
        opacity: 0.5;
      }
      & .duration {
        display: none;
        opacity: 0.5;
      }
      & .name {
        opacity: 0.5;
      }
      & .behaviour {
        font-weight: 600;
        transition: color 0.5s ease, text-decoration 0.5s ease;
        text-decoration: none;
        border-bottom: 2px solid currentColor;
        line-height: 1.2;
        color: inherit;
        transition: color 0.5s ease, border-color 0.5s ease;
        display: inline-block;

        & .behaviour-icon {
          display: inline-block;
          width: 0.9em;
          height: 0.9em;
          margin-right: -0.1em;
        }

        & .behaviour-icon--kiki,
        & .behaviour-icon--buba {
          position: relative;
          top: 0.1em;
        }
      }
      & .language {
        display: none;
        opacity: 0.5;
      }
    }

    & .clip-text {
      transition: color 0.5s ease;
    }

    &.evidence {
      & .clip-text {
        font-size: 1.5em;
      }
    }
  }
}

/* Next clip container styles */
.next-clip-wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0.5em;
  left: 0;
  width: 100%;
  z-index: 2000;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateY(100%);
  opacity: 0;

  &.visible {
    transform: translateY(0);
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 1;
  }

  & .next-clip-container {
    margin: 0 auto;
    display: flex;
    background-color: rgba(var(--ids__background-RGB), 1);
    border: 1px solid rgba(var(--ids__text-RGB), 0.2);
    box-shadow: 0 1em 1em 0 rgba(var(--ids__text-RGB), 0.1);
    overflow: hidden;
    border-radius: 1.3em;

    & .clip-link:nth-child(1) {
      & a {
        padding-right: 0.4em;
      }
    }
    & .clip-link:nth-child(2) {
      & a {
        border-left: 1px solid rgba(var(--ids__text-RGB), 0.2);
        padding-left: 0.4em;
      }
    }

    & .clip-link {
      transition: opacity 0.3s ease;

      &.disabled {
        cursor: not-allowed;
      }
    }

    & a {
      display: block;
      text-decoration: none;

      padding: 0.4em 0.6em;
      transition: background-color 0.5s ease, opacity 0.3s ease;
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;

      &:hover:not(.disabled) {
        background-color: rgba(var(--ids__bg-hover-RGB), 0.1);
        transition: background-color 0s ease;
      }
    }
  }
}
