<div class="fingerprint-visualization-container">
  <div
    class="fingerprint-visualization-box ids__rounded dark-mode"
    data-speaker-count="2">
    <div class="transcript-visualization transcript-visualization--static">
      {% include "transcript-clips.html" %}
    </div>
    <div class="speaker-labels">
      <div class="speaker-label" data-speaker-index="1">
        <span>Customer</span>
      </div>
      <div class="speaker-label" data-speaker-index="2">
        <span>Support specialist</span>
      </div>
    </div>
    <div class="behaviour-labels">
      <div class="behaviour-label" data-speaker-index="1" data-position="15.71">
        <a href="#"
          >{% include "behaviour-icon-kiki.html" %}<span>
            Sense of Urgency</span
          ></a
        >
      </div>
      <div class="behaviour-label" data-speaker-index="1" data-position="51.43">
        <a href="#"
          >{% include "behaviour-icon-kiki.html" %}<span>
            Return Fraud Attempt</span
          ></a
        >
      </div>
      <div class="behaviour-label" data-speaker-index="2" data-position="14.29">
        <a href="#"
          >{% include "behaviour-icon-kiki.html" %}<span>
            Common GenAI Failure Patterns</span
          ></a
        >
      </div>
    </div>
    <div class="fingerprint-status-caption">
      <span class="emotion-caption"></span>
    </div>
  </div>
</div>
