{% set nav = [ { title: 'Modulate ELM Demo', href: '/' }, { title: 'About
Modulate', href: '/about' }, { title: 'Conversations', href: '/conversations/'
}, { title: 'Upload audio', href: '/upload/' } ] %}

<div class="ids__wrapper">
  <header class="header">
    <nav class="nav">
      <div class="logo-container">
        <img
          src="/assets/identity-draft/modulate-sign-draft.svg"
          alt="Modulate Sign" />
      </div>
      {% for link in nav %} {% if link.href == page.url %}
      <span class="nav-link">{{ link.title }}</span>
      {% else %}
      <a href="{{ link.href }}" class="nav-link">{{ link.title }}</a>
      {% endif %} {% endfor %}
    </nav>
  </header>
</div>
