{% set nav = [ { title: 'Modulate Platform', href: '/' }, { title: 'Solutions',
href: '/ui/' }, { title: 'Use cases', href: '/ui/' }, { title: 'Integrations',
href: '/demo/' }, { title: 'About us', href: '/ui/' }, { title: 'Contact', href:
'/ui/' } ] %}

<header class="header">
  <nav class="nav">
    <div class="logo-container">
      <img
        src="/assets/identity-draft/modulate-sign-draft.svg"
        alt="Modulate Sign" />
    </div>
    {% for link in nav %} {% if link.href == page.url %}
    <span class="nav-link">{{ link.title }}</span>
    {% else %}
    <a href="{{ link.href }}" class="nav-link">{{ link.title }}</a>
    {% endif %} {% endfor %}
  </nav>
</header>
