            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="0.0"
              data-width="2.8"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-calm"
              data-position="2.8"
              data-width="2.8"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-calm"
              data-position="5.6"
              data-width="3.2"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-frustrated"
              data-position="8.8"
              data-width="7.3"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-calm"
              data-position="16.1"
              data-width="4.6"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-frustrated"
              data-position="20.7"
              data-width="4.6"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-calm"
              data-position="25.3"
              data-width="3.7"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-frustrated"
              data-position="29.0"
              data-width="3.2"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-calm"
              data-position="32.2"
              data-width="4.1"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-frustrated"
              data-position="36.3"
              data-width="2.8"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-calm"
              data-position="39.1"
              data-width="4.1"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-frustrated"
              data-position="43.2"
              data-width="6.0"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-calm"
              data-position="49.2"
              data-width="2.8"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-angry"
              data-position="52.0"
              data-width="4.1"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-frustrated"
              data-position="56.1"
              data-width="11.5"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-calm"
              data-position="67.6"
              data-width="4.1"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-frustrated"
              data-position="71.7"
              data-width="8.7"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-calm"
              data-position="80.4"
              data-width="5.0"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-relieved"
              data-position="85.4"
              data-width="3.2"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-calm"
              data-position="88.6"
              data-width="2.3"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="90.9"
              data-width="2.3"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-calm"
              data-position="93.2"
              data-width="6.8"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>