            <div
              class="table-fingerprint-clip emotion-calm"
              data-position="0.0"
              data-width="2.5"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="2.5"
              data-width="2.2"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="4.7"
              data-width="2.2"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="6.9"
              data-width="2.2"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="9.1"
              data-width="1.9"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-calm"
              data-position="11.0"
              data-width="3.4"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-confident"
              data-position="14.4"
              data-width="4.3"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-calm"
              data-position="18.7"
              data-width="2.8"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="21.5"
              data-width="2.8"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="24.3"
              data-width="2.2"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="26.5"
              data-width="8.1"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="34.6"
              data-width="5.6"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="40.2"
              data-width="3.1"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-amused"
              data-position="43.3"
              data-width="2.2"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="45.5"
              data-width="3.4"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-concerned"
              data-position="48.9"
              data-width="3.4"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="52.3"
              data-width="4.7"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="57.0"
              data-width="2.8"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-frustrated"
              data-position="59.8"
              data-width="1.9"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="61.7"
              data-width="2.8"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-frustrated"
              data-position="64.5"
              data-width="1.9"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="66.4"
              data-width="1.6"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-frustrated"
              data-position="68.0"
              data-width="3.1"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-frustrated"
              data-position="71.1"
              data-width="1.9"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-amused"
              data-position="73.0"
              data-width="2.8"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-frustrated"
              data-position="75.8"
              data-width="1.9"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-frustrated"
              data-position="77.7"
              data-width="1.9"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-calm"
              data-position="79.6"
              data-width="9.9"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-angry"
              data-position="89.5"
              data-width="2.2"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-angry"
              data-position="91.7"
              data-width="4.0"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-angry"
              data-position="95.7"
              data-width="4.3"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>