            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="0.0"
              data-width="4.5"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="4.5"
              data-width="5.0"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-calm"
              data-position="9.5"
              data-width="5.0"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="14.5"
              data-width="4.5"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="19.0"
              data-width="6.5"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-confused"
              data-position="25.5"
              data-width="3.5"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-calm"
              data-position="29.0"
              data-width="3.0"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="32.0"
              data-width="3.0"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="35.0"
              data-width="3.0"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="38.0"
              data-width="3.0"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="41.0"
              data-width="4.0"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="45.0"
              data-width="2.5"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="47.5"
              data-width="3.5"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="51.0"
              data-width="3.5"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="54.5"
              data-width="3.0"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-calm"
              data-position="57.5"
              data-width="5.5"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-frustrated"
              data-position="63.0"
              data-width="8.0"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="71.0"
              data-width="3.5"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-frustrated"
              data-position="74.5"
              data-width="5.0"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="79.5"
              data-width="5.5"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="85.0"
              data-width="6.5"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-confused"
              data-position="91.5"
              data-width="3.5"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-frustrated"
              data-position="95.0"
              data-width="2.5"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-calm"
              data-position="97.5"
              data-width="2.5"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>