            <div
              class="table-fingerprint-clip emotion-frustrated"
              data-position="0.0"
              data-width="6.1"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-frustrated"
              data-position="6.1"
              data-width="5.0"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-frustrated"
              data-position="11.1"
              data-width="4.4"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="15.5"
              data-width="2.8"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-frustrated"
              data-position="18.3"
              data-width="6.6"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-calm"
              data-position="24.9"
              data-width="3.9"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-frustrated"
              data-position="28.8"
              data-width="8.3"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-calm"
              data-position="37.1"
              data-width="5.0"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-frustrated"
              data-position="42.1"
              data-width="16.6"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-calm"
              data-position="58.7"
              data-width="2.8"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-frustrated"
              data-position="61.5"
              data-width="3.9"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-angry"
              data-position="65.4"
              data-width="6.6"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-concerned"
              data-position="72.0"
              data-width="3.3"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-frustrated"
              data-position="75.3"
              data-width="4.4"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-calm"
              data-position="79.7"
              data-width="4.4"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-frustrated"
              data-position="84.1"
              data-width="8.3"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-concerned"
              data-position="92.4"
              data-width="7.6"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>