.technical-loading-box {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(var(--ids__bg-surface-RGB), 1);
}

.technical-loading-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 15em;
  padding: 2em;
}
