.velma-tmp-table {
  & tr {
    text-align: left;
  }

  & td,
  & th {
    text-align: left;
  }

  & th {
    border-bottom: 2px solid rgba(var(--ids__text-RGB), 1);
  }
}

.tmp-hero-scatterplot {
  background-color: rgba(var(--ids__bg-surface-RGB), 1);
  display: flex;
  justify-content: center;
  align-items: center;

  height: 15em;
  width: 100%;
}
