/* Keyframe animation for playing clip background */
@keyframes playing-pulse {
  0%, 100% {
    background-color: rgb(var(--ids__hover-RGB), 0.2);
  }
  50% {
    background-color: rgb(var(--ids__hover-RGB), 0.3);
  }
}

.nav-container {
  position: relative;
  font-size: 0.8em;
  display: flex;
  gap: 0.5em;

  @media (width < 768px) {
    flex-wrap: wrap;
  }

  & .nav-link {
    background-color: rgba(var(--ids__surface-RGB), 1);
    padding: 0.7em 1em;
    cursor: pointer;
    transition: color 0.5s ease, background-color 0.5s ease;
    text-decoration: none;
    color: inherit;

    @media (width < 768px) {
      &:first-of-type {
        order: 1;
      }
      &:last-of-type {
        order: 2;
      }
    }

    &:hover {
      color: rgb(var(--ids__hover-RGB), 1);
      background-color: rgb(var(--ids__hover-RGB), 0.15);
      transition: color 0s ease, background-color 0s ease;
    }
  }

  & .nav-disclaimer {
    background-color: rgba(var(--ids__surface-RGB), 1);
    padding: 0.7em;
    flex: 1;

    @media (width < 768px) {
      flex-basis: 100%;
      order: 4;
    }
  }

  & .share-button-wrapper {
    position: relative;
    
    @media (width < 768px) {
      order: 3;
      flex: 1;
    }
  }

  & .share-button {
    width: 100%;
    padding: 0.7em 1em;
    height: 100%;
    font-size: inherit;
  }
}

.summary-container {
  width: 98%;
  margin: 0.5em auto;


  & .summary-table {
    margin: 1.5em 0;
    width: 100%;

    & thead {
      & th {
        color: rgb(var(--ids__text-RGB));
        font-size: 0.8em;
        text-align: left;
        vertical-align: top;
        padding-bottom: 0.5em;
      }
    }

    & tr {
      & td {
        padding-bottom: 0.5em;
        padding-right: 0.3em;
        vertical-align: top;
      }

      & .speaker-name-column {
        width: 28%;
      }

      & .speaker-name-input-wrapper {
        position: relative;
        display: inline-block;
        width: 100%;
      }

      & .speaker-name-input {
        border: none;
        background-color: transparent;
        border-radius: 0.2em;
        padding: 0.1em 0.2em 0.1em 0;
        margin: 0;
        height: 1.8em;
        line-height: 1.6em;
        font: inherit;
        color: rgba(var(--ids__text-RGB), 1);
        width: 100%;
        outline: none;
        cursor: text;
        box-sizing: border-box;
        transition: color 0.5s ease, background-color 0.5s ease;
        
        &:hover {
          color: rgba(var(--ids__text-RGB), 0.8);
          transition: color 0s ease, background-color 0s ease;
        }
        
        &:focus {
          background-color: rgba(var(--ids__hover-RGB), 0.15);
          color: rgba(var(--ids__text-RGB), 1);
        }
      }

      & .speaker-name-input-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 1em;
        height: 1em;
        margin-left: 0.2em;
        pointer-events: none;
        opacity: 0.8;
        visibility: visible;
        transition: opacity 0.2s ease, left 0.1s ease, visibility 0s ease;
        color: inherit;
        
        .speaker-name-input-wrapper:hover & {
          opacity: 1;
        }
      }
      
      & .speaker-name-input-wrapper:has(.speaker-name-input:focus) .speaker-name-input-icon {
        opacity: 0;
        visibility: hidden;
      }

      & .speaker-info-column {
        width: 33%;
      }

      & .behaviours-column {
        width: 39%;
        padding-right: 0;
      }
    }
    
    & p {
      margin-bottom: 0.2em;
    }
  }

  & .speaker-fingerprint-wrapper {
    display: flex;
    align-items: center;
    gap: 0.3em;
    margin: 0;
  }

  & .fingerprint-emotion-caption {
    font-size: 0.8em;
    opacity: 0.5;
    margin-top: 0.2em;
    min-height: 1.2em;
    
    &.showing-emotion {
      opacity: 1;
      transition: opacity 0s ease;
    }
  }

  & .speaker-fingerprint {
    height: 1.8em;
    flex-shrink: 0;
    display: flex;
    gap: 0;
    border-radius: 0.2em;
    overflow: hidden;
    align-self: center;
    --base-width: 70%;

    & .speaker-fingerprint-clip {
      min-width: 2px;
      height: 100%;
      cursor: pointer;
      transition: filter 0.2s ease, opacity 0.2s ease;
      /* Default background color - will be overridden by emotion classes */
      background-color: rgba(var(--emotion-neutral-RGB), 1);

      &:hover,
      &.hover {
        filter: brightness(140%) saturate(115%);
        transition: filter 0s ease, opacity 0s ease;
      }
    }
  }

  & .speaker-time-info {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    flex-shrink: 0;
  }

  & .speaker-time-percent {
    font-size: 1em;
    font-weight: normal;
    padding: 0.1em 0;
    margin: 0;
    height: 1.8em;
    line-height: 1.6em;
    display: flex;
    align-items: center;
  }

  & .speaker-time-label {
    font-size: 0.8em;
    opacity: 0.7;
  }
  
}


a.detected-behaviour {
  font-weight: 700;
  text-decoration-thickness: 3px;
  text-decoration-color: rgba(var(--ids__link-RGB), 1);

  
  &:hover {    
    text-decoration-color: rgba(var(--ids__hover-RGB), 1);
  }
}


.transcript-container {
  width: 98%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  /* margin-bottom: -8em; */
  
  @media (width < 768px) {
    width: 100%;
  }
  
  & .transcript-clip {
    background-color: rgba(var(--ids__surface-RGB), 1);
    padding: 0.7em 3.7em 0.7em 0.7em;
    cursor: pointer;
    transition: color 0.5s ease, background-color 0.5s ease;
    --ids__radius: 2em;

    & .clip-visualization {
      display: none;
    }

    border-radius: var(--ids__radius);
    corner-shape: squircle;

    &[data-speaker-index="1"] {
      margin-right: 3em;
      border-radius:  0 var(--ids__radius) var(--ids__radius) var(--ids__radius);

      @supports not (corner-shape: squircle) {
        --ids__radius: 2.5em;
        border-radius: 0;
        border-radius: initial;
        mask:
          
          url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><path d="m0,0 l99,0 c1,0 1,0 1,1 l0,99 l-100,0 l0,-100 Z"/></svg>') top right / calc(var(--ids__radius) * 100) no-repeat intersect,
          url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><path d="m0,0 l100,0 l0,99 c0,1 -0,1 -1,1 l-99,0 Z"/></svg>') bottom right / calc(var(--ids__radius) * 100) no-repeat intersect,
          url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><path d="m0,0 l100,0 l0,100 l-99,0 c-1,0 -1,-0 -1,-1 Z"/></svg>') bottom left / calc(var(--ids__radius) * 100) no-repeat intersect;
      }
    
        
    }
    &[data-speaker-index="2"] {
      margin-left: 3em;
      border-radius: var(--ids__radius) 0 var(--ids__radius) var(--ids__radius);

      @supports not (corner-shape: squircle) {
        --ids__radius: 2.5em;
        border-radius: 0;
        border-radius: initial;
        mask:
      url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><path d="m0,1 c0,-1 0,-1 1,-1 l99,0 l0,100 l-100,0 Z"/></svg>') top left / calc(var(--ids__radius) * 100) no-repeat intersect,
      url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><path d="m0,0 l100,0 l0,99 c0,1 -0,1 -1,1 l-99,0 Z"/></svg>') bottom right / calc(var(--ids__radius) * 100) no-repeat intersect,
      url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><path d="m0,0 l100,0 l0,100 l-99,0 c-1,0 -1,-0 -1,-1 Z"/></svg>') bottom left / calc(var(--ids__radius) * 100) no-repeat intersect;
      }
    }
    
    /* Hover styles specific to transcript container */
    &:hover,
    &.hover {
      color: rgb(var(--ids__hover-RGB), 1);
      background-color: rgb(var(--ids__hover-RGB), 0.15);
      transition: color 0s ease, background-color 0s ease;

      & .clip-caption {


        & .behaviour {
          color: rgb(var(--ids__hover-RGB));
          text-decoration-color: rgba(var(--ids__hover-RGB), 1);
          transition: color 0s ease, text-decoration 0s ease;
        }
      }

      


    }

    /* Playing state - highlight currently playing clip */
    &.playing {
      animation: playing-pulse 1s ease-in-out infinite;
    }

    & .clip-caption {
      font-size: 0.8em;
      display: flex;
      gap: 0.5em;
      margin-bottom: 0.4em;
      
      & .time {
        opacity: 0.5;        
      }
      & .duration {
        display: none;
        opacity: 0.5;        
      }
      & .name {
        opacity: 0.5;        
      }
      & .behaviour {
        font-weight: 600;
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 0.2em;
        text-decoration-skip-ink: none;
        transition: color 0.5s ease, text-decoration 0.5s ease;
      }
      & .language {
        display: none;
        opacity: 0.5;        
      }
    }

    &.evidence {
      & .clip-text {
        font-size: 1.5em;
      }
    }

  }
}



.cta {
  display: flex;
  --gap: 0.5em;
  gap: var(--gap);

  @media (width < 768px) {
    flex-direction: column;
  }

  & .cta-column {
    display: flex;
    flex-direction: column;
    gap: var(--gap);    

    &:first-child {
      width: 70%;
      @media (width < 768px) {
        width: 100%;
      }
    }
    &:last-child {
      width: 30%;
      @media (width < 768px) {
        width: 100%;
      }
    }

  }

  & .cta-section {
  
    background-color: rgba(var(--ids__accent-RGB), 0.1);
    /* height: 100%; */
    padding: 1em 1em 1em 1em;

    &.form {
      background-color: rgba(var(--ids__surface-RGB), 1);
      padding: 1em 3em 2em 1em;
    }
  }
}

.schedule-form {
  display: flex;
  gap: 0.5em;
  margin-top: 1em;

  & .schedule-form-input {
    flex: 1;
    padding: 0.4em 0.6em;
    border: 0px solid rgba(var(--ids__text-RGB), 0.2);
    border-radius: 0.1em;
    font-family: var(--sans);
    font-size: 1em;
    background-color: rgba(var(--ids__background-RGB), 1);
    color: rgb(var(--ids__text-RGB));
    transition: border-color 0.3s ease;

    &:focus {
      outline: none;
      border-color: rgba(var(--ids__link-RGB), 0.5);
    }

    &::placeholder {
      color: rgba(var(--ids__text-RGB), 0.5);
    }
  }

  & .schedule-form-button {
    padding: 0.5em 1.5em;
    background-color: rgb(var(--ids__link-RGB));
    color: rgb(var(--ids__background-RGB));
    border: none;
    font-family: var(--sans);
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgb(var(--ids__hover-RGB));
      transition: background-color 0s ease;
    }

    &:active {
      background-color: rgb(var(--ids__accent-RGB));
    }
  }
}

/* Share button styles */

.share-button {
  height: 2em;
  background-color: rgba(var(--ids__surface-RGB), 1);
  color: rgb(var(--ids__text-RGB));
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
  padding: 0 0.6em;
  font-size: 1em;
  font-family: inherit;
  transition: color 0.5s ease, background-color 0.5s ease;

  &:hover {
    color: rgb(var(--ids__hover-RGB), 1);
    background-color: rgb(var(--ids__hover-RGB), 0.15);
    transition: color 0s ease, background-color 0s ease;
  }

  & .share-icon {
    width: 1em;
    height: 1em;
    flex-shrink: 0;
  }

  & .share-text {
    font-size: 1em;
    line-height: 1;
  }
}

.share-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  & .share-button-wrapper {
    position: relative;
  }
}

/* Share popover styles */
.share-popover {
  position: absolute;
  background-color: rgba(var(--ids__surface-RGB), 1);
  padding: 1em;
  display: none;
  z-index: 1000;
  box-shadow: 0 0 1em 0 white;

  &.visible {
    display: block;
  }

  & p {
    margin: 0 0 0.5em 0;
    font-size: 0.9em;
    line-height: 1.4;

    &:last-child {
      margin-bottom: 0;
    }
  }

  & .share-download-links {
    display: flex;
    gap: 1em;
  }

  & .share-download-link {
    color: rgb(var(--ids__link-RGB));
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.2em;
    text-decoration-skip-ink: none;
    text-decoration-color: rgba(var(--ids__link-RGB), 0.2);
    transition: color 0.5s ease, text-decoration 0.5s ease;

    &:hover {
      color: rgb(var(--ids__hover-RGB));
      text-decoration-color: rgba(var(--ids__hover-RGB), 0.2);
      transition: color 0s ease, text-decoration 0s ease;
    }
  }
}

/* Popover in nav-container (first share button) */
.nav-container {
  
  & .share-popover {
    width: 26em;    

    top: -0.3em;
    right: -0.3em;
    

    @media (width < 768px) {      
      top: 0;
      width: 100%;
      left: 0;
      
    }
  }
}

/* Popover in share-container (second share button) */
.share-container {
  & .share-button-wrapper .share-popover {
    width: 26em;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @media (width < 768px) {
      font-size: 0.8em;
      top: 0;
      width: 100%;
      left: 0;
      transform: none
    }
  }
}