.nav-container {
  display: flex;
  --gap: 1em;
  gap: var(--gap);
  margin-bottom: 1em;

  & .nav-link {
    & .nav-link-caption {
      @media (width < 768px) {
        display: none;
      }
    }
  }
}

.summary-container {
  margin: 2em 0 1em;

  & .summary-tags {
    margin-bottom: 1em;
  }
}

.columns {
  display: flex;
  flex-wrap: wrap;
  --gap: 1.4em;
  gap: var(--gap);

  & .side-column {
    width: calc(32% - (var(--gap) / 2));

    @media (width < 768px) {
      width: 100%;
    }
  }

  & .main-column {
    width: calc(68% - (var(--gap) / 2));

    @media (width < 768px) {
      width: 100%;
    }
  }
}

.summary-cards {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  & .summary-card {
    background-color: rgba(var(--ids__surface-RGB), 1);
    padding: 0.7em;

    & h3 {
      font-size: 1em;
      font-weight: 500;
      border-bottom: 1px solid rgba(var(--ids__text-RGB), 0.3);
      padding-bottom: 0.2em;
    }

    & .caption {
      font-size: 0.8em;
    }

    & .behaviours-section {
      width: 100%;
      overflow: hidden;
      margin-bottom: 0.5em;

      & .behaviours-title {
        margin-bottom: 0.3em;

        & h4 {
          font-weight: 700;
          display: inline;
          font-size: 1em;
          
        }

        & span {
          font-size: 0.8em;
          opacity: 0.5;
        }
      }


      & .transcript-sample { 
        position: relative;
        display: inline-block;
        max-width: 100%;
        border: 1px solid rgba(var(--ids__text-RGB), 0.3);
        transition: color 0.5s ease, border 0.5s ease;
        overflow: hidden;
        /* margin-bottom: 0.1em; */
        padding: 0.2em 0 0.2em 0.2em ;
        corner-shape: squircle;
        border-radius: 0 0.8em 0.8em 0.8em;
        overflow: hidden;

        &:hover {
          border: 1px solid rgba(var(--ids__hover-RGB), 0.3);
          transition: color 0s ease, border 0s ease;
        }

        & p {
          white-space: nowrap;
          overflow: hidden;
          font-size: 0.8em;
          line-height: 1;
          margin-bottom: 0;
          padding-right: 1em;

          &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 1.25em;
            bottom: 0;
            background-image: linear-gradient(to right, transparent, rgba(var(--ids__surface-RGB), 1));
            
          }
          
        }

      }

    }

  }
}


.transcript-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  
  & .transcript-clip {
    background-color: rgba(var(--ids__surface-RGB), 1);
    padding: 0.7em;
    cursor: pointer;
    transition: filter 0.1s ease;

    border-radius: var(--ids__radius);
  corner-shape: squircle;

    &[data-speaker-index="2"] {
      margin-right: 2em;
      border-radius:  0 var(--ids__radius) var(--ids__radius) var(--ids__radius);
    }
    &[data-speaker-index="1"] {
      margin-left: 2em;
      border-radius: var(--ids__radius) 0 var(--ids__radius) var(--ids__radius);
    }
    
    /* Hover styles specific to transcript container */
    &:hover,
    &.hover {
      background-color: rgb(var(--ids__surface-RGB), 0.9);
      transition: filter 0s ease;
    }

    & .clip-caption {
      font-size: 0.8em;
      display: flex;
      gap: 0.5em;
      margin-bottom: 0.4em;
      
      & .time {
        opacity: 0.5;        
      }
      & .duration {
        opacity: 0.5;        
      }
      & .name {
        opacity: 0.5;        
      }
      & .language {
        display: none;
        opacity: 0.5;        
      }
    }

  }
}



/* Demo recordings table */
.demo-recordings-section {
  margin: 2em 0;

  & h2 {
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 1em;
  }

  & .demo-recordings-table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(var(--ids__surface-RGB), 1);


    & thead {
      & th {
        text-align: left;
        padding: 0.7em;
        font-weight: 500;
        font-size: 0.9em;
        border-bottom: 1px solid rgba(var(--ids__text-RGB), 0.2);
        color: rgba(var(--ids__text-RGB), 0.7);
      }
    }

    & tbody {
      & tr {
        border-bottom: 1px solid rgba(var(--ids__text-RGB), 0.1);
        transition: background-color 0.2s ease;

        &:hover {
          background-color: rgba(var(--ids__text-RGB), 0.05);
        }

        &:last-child {
          border-bottom: none;
        }
      }

      & td {
        padding: 0.7em;
        font-size: 0.9em;
      }
    }
  }
}

/* Emotion tags color scheme based on Plutchik's wheel of emotions */
.emotion-tag {  
  border-radius: 0.3em;  
  
  /* Neutral - серый, нейтральный */
  &.emotion-neutral {
    color: rgba(var(--emotion-neutral-RGB), 1);    
  }
  
  /* Confused - удивление (surprise) - голубой */
  &.emotion-confused {
    color: rgba(var(--emotion-confused-RGB), 1);    
  }
  
  /* Frustrated - смесь гнева и печали - красно-синий */
  &.emotion-frustrated {
    color: rgba(var(--emotion-frustrated-RGB), 1);    
  }
  
  /* Apologetic - смесь доверия и печали - зелено-синий */
  &.emotion-apologetic {
    color: rgba(var(--emotion-apologetic-RGB), 1);    
  }
  
  /* Annoyed - гнев (anger) - красный */
  &.emotion-annoyed {
    color: rgba(var(--emotion-annoyed-RGB), 1);    
  }
  
  /* Assertive - предвкушение/радость - оранжево-желтый */
  &.emotion-assertive {
    color: rgba(var(--emotion-assertive-RGB), 1);    
  }
  
  /* Demanding - гнев/предвкушение - красно-оранжевый */
  &.emotion-demanding {
    color: rgba(var(--emotion-demanding-RGB), 1);    
  }
  
  /* Angry - гнев (anger) - красный, более интенсивный */
  &.emotion-angry {
    color: rgba(var(--emotion-angry-RGB), 1);    
  }
  
  /* Threatening - гнев/страх - красно-фиолетовый */
  &.emotion-threatening {
    color: rgba(var(--emotion-threatening-RGB), 1);    
  }
  
  /* Exasperated - гнев/печаль - красно-синий, более интенсивный */
  &.emotion-exasperated {
    color: rgba(var(--emotion-exasperated-RGB), 1);    
  }
}
