/* Keyframe animation for playing clip background */
@keyframes playing-pulse {
  0%, 100% {
    background-color: rgb(var(--ids__hover-RGB), 0.2);
  }
  50% {
    background-color: rgb(var(--ids__hover-RGB), 0.3);
  }
}

.nav-container {
  display: flex;
  --gap: 0.8em;
  gap: var(--gap);
  

  & .nav-link {
    & .nav-link-caption {
      @media (width < 768px) {
        display: none;
      }
    }
  }
}

.summary-container {
  width: 98%;
  margin: 1em auto;

  & .summary-table {
    width: 100%;

    & tr {
      & td {
        padding-bottom: 0.5em;
        vertical-align: top;
      }

      & .speaker-name-column {
        width: 25%;
      }

      & .speaker-info-column {
        width: 35%;
      }

      & .behaviours-column {
        width: 40%;
      }
    }
    
    & p {
      margin-bottom: 0.2em;
    }
  }

  & .speaker-fingerprint-wrapper {
    display: flex;
    align-items: flex-end;
    gap: 0.3em;
    margin-bottom: 0.1em;
  }

  & .speaker-fingerprint {
    height: 2.15em;
    flex-shrink: 0;
    display: flex;
    gap: 0;
    border-radius: 0.2em;
    overflow: hidden;
    --base-width: 70%;

    & .speaker-fingerprint-clip {
      min-width: 2px;
      height: 100%;
      cursor: pointer;
      transition: filter 0.2s ease, opacity 0.2s ease;
      /* Default background color - will be overridden by emotion classes */
      background-color: rgba(var(--emotion-neutral-RGB), 1);

      &:hover,
      &.hover {
        filter: brightness(140%) saturate(115%);
        z-index: 1;
        position: relative;
        transition: filter 0s ease, opacity 0s ease;
      }

      /* Emotion colors - using individual emotion variables */
      
      /* no strong signal */
      &.emotion-neutral { background-color: rgba(var(--emotion-neutral-RGB), 1); }
      &.emotion-unknown { background-color: rgba(var(--emotion-unknown-RGB), 1); }

      /* attack / rejection */
      &.emotion-angry { background-color: rgba(var(--emotion-angry-RGB), 1); }
      &.emotion-contemptuous { background-color: rgba(var(--emotion-contemptuous-RGB), 1); }
      &.emotion-disgusted { background-color: rgba(var(--emotion-disgusted-RGB), 1); }

      /* threat / uncertainty */
      &.emotion-afraid { background-color: rgba(var(--emotion-afraid-RGB), 1); }
      &.emotion-anxious { background-color: rgba(var(--emotion-anxious-RGB), 1); }
      &.emotion-stressed { background-color: rgba(var(--emotion-stressed-RGB), 1); }
      &.emotion-surprised { background-color: rgba(var(--emotion-surprised-RGB), 1); }
      &.emotion-ashamed { background-color: rgba(var(--emotion-ashamed-RGB), 1); }
      &.emotion-frustrated { background-color: rgba(var(--emotion-frustrated-RGB), 1); }

      /* calm / grounded */
      &.emotion-calm { background-color: rgba(var(--emotion-calm-RGB), 1); }
      &.emotion-confident { background-color: rgba(var(--emotion-confident-RGB), 1); }
      &.emotion-interested { background-color: rgba(var(--emotion-interested-RGB), 1); }

      /* excited / engaged */
      &.emotion-affectionate { background-color: rgba(var(--emotion-affectionate-RGB), 1); }
      &.emotion-amused { background-color: rgba(var(--emotion-amused-RGB), 1); }
      &.emotion-excited { background-color: rgba(var(--emotion-excited-RGB), 1); }
      &.emotion-happy { background-color: rgba(var(--emotion-happy-RGB), 1); }
      &.emotion-hopeful { background-color: rgba(var(--emotion-hopeful-RGB), 1); }
      &.emotion-proud { background-color: rgba(var(--emotion-proud-RGB), 1); }
      &.emotion-relieved { background-color: rgba(var(--emotion-relieved-RGB), 1); }
      &.emotion-curious { background-color: rgba(var(--emotion-curious-RGB), 1); }

      /* low energy, negative */
      &.emotion-sad { background-color: rgba(var(--emotion-sad-RGB), 1); }
      &.emotion-disappointed { background-color: rgba(var(--emotion-disappointed-RGB), 1); }
      &.emotion-bored { background-color: rgba(var(--emotion-bored-RGB), 1); }
      &.emotion-tired { background-color: rgba(var(--emotion-tired-RGB), 1); }
      &.emotion-concerned { background-color: rgba(var(--emotion-concerned-RGB), 1); }
      &.emotion-confused { background-color: rgba(var(--emotion-confused-RGB), 1); }
    }
  }

  & .speaker-time-info {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    flex-shrink: 0;
  }

  & .speaker-time-percent {    
    font-size: 1em;
    font-weight: 500;
  }

  & .speaker-time-label {
    font-size: 0.8em;
    opacity: 0.7;
  }
  
}


a.detected-behaviour {
  font-weight: 700;
  text-decoration-thickness: 3px;
  text-decoration-color: rgba(var(--ids__link-RGB), 1);

  
  &:hover {    
    text-decoration-color: rgba(var(--ids__hover-RGB), 1);
  }
}


.transcript-container {
  width: 98%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  /* margin-bottom: -8em; */
  
  @media (width < 768px) {
    width: 100%;
  }
  
  & .transcript-clip {
    background-color: rgba(var(--ids__surface-RGB), 1);
    padding: 0.7em 3.7em 0.7em 0.7em;
    cursor: pointer;
    transition: color 0.5s ease, background-color 0.5s ease;
    --ids__radius: 2em;

    & .clip-visualization {
      display: none;
    }

    border-radius: var(--ids__radius);
    corner-shape: squircle;

    &[data-speaker-index="1"] {
      margin-right: 3em;
      border-radius:  0 var(--ids__radius) var(--ids__radius) var(--ids__radius);

      @supports not (corner-shape: squircle) {
        --ids__radius: 2.5em;
        border-radius: 0;
        border-radius: initial;
        mask:
          
          url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><path d="m0,0 l99,0 c1,0 1,0 1,1 l0,99 l-100,0 l0,-100 Z"/></svg>') top right / calc(var(--ids__radius) * 100) no-repeat intersect,
          url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><path d="m0,0 l100,0 l0,99 c0,1 -0,1 -1,1 l-99,0 Z"/></svg>') bottom right / calc(var(--ids__radius) * 100) no-repeat intersect,
          url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><path d="m0,0 l100,0 l0,100 l-99,0 c-1,0 -1,-0 -1,-1 Z"/></svg>') bottom left / calc(var(--ids__radius) * 100) no-repeat intersect;
      }
    
        
    }
    &[data-speaker-index="2"] {
      margin-left: 3em;
      border-radius: var(--ids__radius) 0 var(--ids__radius) var(--ids__radius);

      @supports not (corner-shape: squircle) {
        --ids__radius: 2.5em;
        border-radius: 0;
        border-radius: initial;
        mask:
      url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><path d="m0,1 c0,-1 0,-1 1,-1 l99,0 l0,100 l-100,0 Z"/></svg>') top left / calc(var(--ids__radius) * 100) no-repeat intersect,
      url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><path d="m0,0 l100,0 l0,99 c0,1 -0,1 -1,1 l-99,0 Z"/></svg>') bottom right / calc(var(--ids__radius) * 100) no-repeat intersect,
      url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><path d="m0,0 l100,0 l0,100 l-99,0 c-1,0 -1,-0 -1,-1 Z"/></svg>') bottom left / calc(var(--ids__radius) * 100) no-repeat intersect;
      }
    }
    
    /* Hover styles specific to transcript container */
    &:hover,
    &.hover {
      color: rgb(var(--ids__hover-RGB), 1);
      background-color: rgb(var(--ids__hover-RGB), 0.15);
      transition: color 0s ease, background-color 0s ease;

      & .clip-caption {


        & .behaviour {
          color: rgb(var(--ids__hover-RGB));
          text-decoration-color: rgba(var(--ids__hover-RGB), 1);
          transition: color 0s ease, text-decoration 0s ease;
        }
      }

      


    }

    /* Playing state - highlight currently playing clip */
    &.playing {
      animation: playing-pulse 1s ease-in-out infinite;
    }

    & .clip-caption {
      font-size: 0.8em;
      display: flex;
      gap: 0.5em;
      margin-bottom: 0.4em;
      
      & .time {
        opacity: 0.5;        
      }
      & .duration {
        display: none;
        opacity: 0.5;        
      }
      & .name {
        opacity: 0.5;        
      }
      & .behaviour {
        font-weight: 600;
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 0.2em;
        text-decoration-skip-ink: none;
        transition: color 0.5s ease, text-decoration 0.5s ease;
      }
      & .language {
        display: none;
        opacity: 0.5;        
      }
    }

    &.evidence {
      & .clip-text {
        font-size: 1.5em;
      }
    }

  }
}



/* Demo recordings table */
.demo-recordings-section {
  margin: 2em 0;

  & h2 {
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 1em;
  }

  & .demo-recordings-table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(var(--ids__surface-RGB), 1);


    & thead {
      & th {
        text-align: left;
        padding: 0.7em;
        font-weight: 500;
        font-size: 0.9em;
        border-bottom: 1px solid rgba(var(--ids__text-RGB), 0.2);
        color: rgba(var(--ids__text-RGB), 0.7);
      }
    }

    & tbody {
      & tr {
        border-bottom: 1px solid rgba(var(--ids__text-RGB), 0.1);
        transition: background-color 0.2s ease;

        &:hover {
          background-color: rgba(var(--ids__text-RGB), 0.05);
        }

        &:last-child {
          border-bottom: none;
        }
      }

      & td {
        padding: 0.7em;
        font-size: 0.9em;
      }
    }
  }
}

/* Emotion tags color scheme - using individual emotion variables */
.emotion-tag {  
  border-radius: 0.3em;  
  
  /* no strong signal */
  &.emotion-neutral { color: rgba(var(--emotion-neutral-RGB), 1); }
  &.emotion-unknown { color: rgba(var(--emotion-unknown-RGB), 1); }

  /* attack / rejection */
  &.emotion-angry { color: rgba(var(--emotion-angry-RGB), 1); }
  &.emotion-contemptuous { color: rgba(var(--emotion-contemptuous-RGB), 1); }
  &.emotion-disgusted { color: rgba(var(--emotion-disgusted-RGB), 1); }

  /* threat / uncertainty */
  &.emotion-afraid { color: rgba(var(--emotion-afraid-RGB), 1); }
  &.emotion-anxious { color: rgba(var(--emotion-anxious-RGB), 1); }
  &.emotion-stressed { color: rgba(var(--emotion-stressed-RGB), 1); }
  &.emotion-surprised { color: rgba(var(--emotion-surprised-RGB), 1); }
  &.emotion-ashamed { color: rgba(var(--emotion-ashamed-RGB), 1); }
  &.emotion-frustrated { color: rgba(var(--emotion-frustrated-RGB), 1); }

  /* calm / grounded */
  &.emotion-calm { color: rgba(var(--emotion-calm-RGB), 1); }
  &.emotion-confident { color: rgba(var(--emotion-confident-RGB), 1); }
  &.emotion-interested { color: rgba(var(--emotion-interested-RGB), 1); }

  /* excited / engaged */
  &.emotion-affectionate { color: rgba(var(--emotion-affectionate-RGB), 1); }
  &.emotion-amused { color: rgba(var(--emotion-amused-RGB), 1); }
  &.emotion-excited { color: rgba(var(--emotion-excited-RGB), 1); }
  &.emotion-happy { color: rgba(var(--emotion-happy-RGB), 1); }
  &.emotion-hopeful { color: rgba(var(--emotion-hopeful-RGB), 1); }
  &.emotion-proud { color: rgba(var(--emotion-proud-RGB), 1); }
  &.emotion-relieved { color: rgba(var(--emotion-relieved-RGB), 1); }
  &.emotion-curious { color: rgba(var(--emotion-curious-RGB), 1); }

  /* low energy, negative */
  &.emotion-sad { color: rgba(var(--emotion-sad-RGB), 1); }
  &.emotion-disappointed { color: rgba(var(--emotion-disappointed-RGB), 1); }
  &.emotion-bored { color: rgba(var(--emotion-bored-RGB), 1); }
  &.emotion-tired { color: rgba(var(--emotion-tired-RGB), 1); }
  &.emotion-concerned { color: rgba(var(--emotion-concerned-RGB), 1); }
  &.emotion-confused { color: rgba(var(--emotion-confused-RGB), 1); }
}


.cta {
  display: flex;
  --gap: 0.5em;
  gap: var(--gap);

  @media (width < 768px) {
    flex-direction: column;
  }

  & .cta-column {
    display: flex;
    flex-direction: column;
    gap: var(--gap);    

    &:first-child {
      width: 70%;
      @media (width < 768px) {
        width: 100%;
      }
    }
    &:last-child {
      width: 30%;
      @media (width < 768px) {
        width: 100%;
      }
    }

  }
}
& .cta-section {
  
  background-color: rgba(var(--ids__accent-RGB), 0.1);
  /* height: 100%; */
  padding: 1em 1em 1em 1em;

  &.form {
    background-color: rgba(var(--ids__surface-RGB), 1);
    padding: 1em 3em 2em 1em;
  }
}

.schedule-form {
  display: flex;
  gap: 0.5em;
  margin-top: 1em;

  & .schedule-form-input {
    flex: 1;
    padding: 0.4em 0.6em;
    border: 0px solid rgba(var(--ids__text-RGB), 0.2);
    border-radius: 0.1em;
    font-family: var(--sans);
    font-size: 1em;
    background-color: rgba(var(--ids__background-RGB), 1);
    color: rgb(var(--ids__text-RGB));
    transition: border-color 0.3s ease;

    &:focus {
      outline: none;
      border-color: rgba(var(--ids__link-RGB), 0.5);
    }

    &::placeholder {
      color: rgba(var(--ids__text-RGB), 0.5);
    }
  }

  & .schedule-form-button {
    padding: 0.5em 1.5em;
    background-color: rgb(var(--ids__link-RGB));
    color: rgb(var(--ids__background-RGB));
    border: none;
    font-family: var(--sans);
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgb(var(--ids__hover-RGB));
      transition: background-color 0s ease;
    }

    &:active {
      background-color: rgb(var(--ids__accent-RGB));
    }
  }
}