.footer {
  margin-top: 12em;
  padding: 2em 4em 2em 2em;
  font-size: 0.8em;
  background-color: rgba(var(--ids__bg-surface-RGB), 1);

  @media (width < 768px) {
    padding: 1em 2em 1.5em 1em;
  }

  & .footer-columns {
    display: flex;
    justify-content: space-between;
    gap: 28%;
    
    @media (width < 768px) {
      gap: 8%;
    }
  }

  & .footer-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
  }
}

.footer-logo {
  width: 8em;
  margin-bottom: 1em;
}
