.footer {
  margin-top: 12em;
  padding: 2em 4em 2em 2em;

  font-size: 0.8em;
  background-color: rgba(var(--ids__bg-surface-RGB), 1);

  & .footer-columns {
    display: flex;
    justify-content: space-between;
    gap: 28%;
  }

  & .footer-nav {
    display: flex;
    gap: 1em;
  }
}

.footer-logo {
  width: 8em;
  margin-bottom: 1em;
}
