.header {
  padding: 0.5em 0 2em;

  & nav {
    display: flex;
    gap: 0.7em;
    flex-wrap: wrap;

    & a,
    span {
      &:nth-child(2) {
        font-weight: 650;
      }
    }
  }
}

.logo-container {
  width: 1.3em;
  height: 1.3em;
  margin-right: -0.3em;
}
