.intro {
  & .emotion-icon,
  & .behaviour-icon {
    display: inline-block;
    width: 0.7em;
    height: 0.7em;
    vertical-align: middle;
    margin-right: -0.05em;
    position: relative;
    top: -0.05em;
  }

  & .behaviour-icon {
    color: currentColor;
    width: 0.85em;
    height: 0.85em;
    margin-right: -0.15em;
  }
}

.page404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 70vh;
}
