.intro {
  & .emotion-icon,
  & .behaviour-icon {
    display: inline-block;
    width: 0.7em;
    height: 0.7em;
    vertical-align: middle;
    margin-right: -0.05em;
    position: relative;
    top: -0.05em;
  }

  & .behaviour-icon {
    color: currentColor;
    width: 0.85em;
    height: 0.85em;
    margin-right: -0.15em;
  }
}

a.upload-link {
  display: block;
  text-align: center;
  border: 1px solid rgba(var(--ids__text-link-RGB), 0.5);
  padding: 0.3em 0.7em;
  border-radius: 0.3em;
  font-weight: 600;
  text-decoration: none;
  color: rgba(var(--ids__text-link-RGB), 1);
  transition: color 0.5s ease, border-color 0.5s ease;

  &:hover {
    color: rgba(var(--ids__text-hover-RGB), 1);
    border-color: rgba(var(--ids__text-hover-RGB), 0.5);
    transition: color 0s ease, border-color 0s ease;
  }
}

.page404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 70vh;
}
