:root {
  --initial-height: 14em;
  --stuck-height: 8em;
  --player-visualization-height: 75%;
  --player-visualization-mobile-height: 65%;
}

.media-container {
  position: sticky;
  top: 0;
  height: calc(var(--initial-height) + 1em);
  z-index: 1;


  & .media-space {
    background-color: rgba(var(--ids__background-RGB), 1);
    height: 5em;
    margin-bottom: -4em;

    @media (width < 768px) {
      margin-bottom: -4.5em;
    }
  }


  & .media-box {
    position: relative;
    display: flex;
    flex-direction: column;
    --padding: 0.5em;
    

    height: var(--initial-height);
    background-color: rgba(var(--ids__accent-RGB), 1);
    box-shadow: 0 1em 1em 0 white;
    transition: height 0.2s ease;
  }

  &.stuck {
    & .media-box {
      height: var(--stuck-height);
      transition: height 0.5s ease;
      
      
      & .player-visualization {
        height: var(--player-visualization-mobile-height);
        transition: height 0.5s ease;
      }
    }

    & .player-controls {
      height: calc(100% - var(--player-visualization-mobile-height));
      transition: height 0.5s ease;
    }

    & .player-icon {
      transform: scale(0.8);
      transition: transform 0.5s ease;
    }

    & .player-status-caption {
      top: var(--player-visualization-mobile-height);
      transition: top 0.5s ease;
    }
    
    & .player-position-caption {
      top: var(--player-visualization-mobile-height);
      transition: top 0.5s ease;
    }
  }
}


/* Player visualization timeline */
.player-visualization {

  position: relative;  
  background-color: rgba(var(--ids__surface-RGB), 1);
  height: var(--player-visualization-height);
  transition: height 0.2s ease;

  & .transcript-clip {
    position: absolute;
    height: 50%;
    top: 0;
    border: 1px solid white;
    cursor: pointer;
    transition: filter 0.1s ease;

    &:before {
      position: absolute;
        content: '';
        border: 1px solid transparent;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;        
      }
    
    /* Hover styles specific to visualization */
    &:hover,
    &.hover {
      filter: brightness(140%) saturate(115%);
      transition: filter 0s ease;
      /* border-color: rgba(255,255,255,0.3) !important; */
    }



    &[data-speaker-index="1"] {
      top: 50%;

      &:before {
        top: -100%;
      }

      
    }
    &[data-speaker-index="2"] {
      top: 0;
      &:before {
        bottom: -100%;
      }
    }

    /* Background colors based on emotion classes */
    &.emotion-neutral {
      background-color: rgba(var(--emotion-neutral-RGB), 1);      
      border-color: rgba(var(--emotion-neutral-RGB), 1);      
    }

    &.emotion-confused {
      background-color: rgba(var(--emotion-confused-RGB), 1);
      border-color: rgba(var(--emotion-confused-RGB), 1);
    }

    &.emotion-frustrated {
      background-color: rgba(var(--emotion-frustrated-RGB), 1);
      border-color: rgba(var(--emotion-frustrated-RGB), 1);
    }

    &.emotion-apologetic {
      background-color: rgba(var(--emotion-apologetic-RGB), 1);
      border-color: rgba(var(--emotion-apologetic-RGB), 1);
    }

    &.emotion-annoyed {
      background-color: rgba(var(--emotion-annoyed-RGB), 1);
      border-color: rgba(var(--emotion-annoyed-RGB), 1);
    }

    &.emotion-assertive {
      background-color: rgba(var(--emotion-assertive-RGB), 1);
      border-color: rgba(var(--emotion-assertive-RGB), 1);
    }

    &.emotion-demanding {
      background-color: rgba(var(--emotion-demanding-RGB), 1);
      border-color: rgba(var(--emotion-demanding-RGB), 1);
    }

    &.emotion-angry {
      background-color: rgba(var(--emotion-angry-RGB), 1);
      border-color: rgba(var(--emotion-angry-RGB), 1);
    }

    &.emotion-threatening {
      background-color: rgba(var(--emotion-threatening-RGB), 1);
      border-color: rgba(var(--emotion-threatening-RGB), 1);
    }

    &.emotion-exasperated {
      background-color: rgba(var(--emotion-exasperated-RGB), 1);
      border-color: rgba(var(--emotion-exasperated-RGB), 1);
    }

    
    & .clip-caption,
    & .clip-text {
      display: none;
    }
  }
}

.speaker-labels {
  position: absolute;
  width: 100%;
  height: var(--player-visualization-height);
  pointer-events: none;

  & .speaker-label {
    position: absolute;
    display: flex;
    align-items: flex-end;
    padding-left: 0.1em;
    height: 50%;

    &[data-speaker-index="1"] {
      top: 50%;
    }
    &[data-speaker-index="2"] {
      top: 0;
    }

    & span {
      font-size: 0.8em;
      line-height: 1;
      background-color: rgba(var(--ids__surface-RGB), 1);
      padding: 0.1em 0.2em 0 0;
      color: rgba(var(--ids__text-RGB), 0.3);

      
    }
  }
}

.behaviour-labels {
  position: absolute;
  width: 100%;
  height: var(--player-visualization-height);
  pointer-events: none;
  

  & .behaviour-label {
    position: absolute;
    font-size: 0.8em;
    /* width: 10em; */
    display: flex;
    align-items: flex-end;
    padding-left: 0.1em;
    height: 50%;    
    
    
    &[data-speaker-index="1"] {
      top: 50%;
    }
    &[data-speaker-index="2"] {
      top: 0;
    }

    & a {
      display: block;
      
      /* text-decoration-thickness: 2px;
      text-decoration-color: rgba(var(--ids__link-RGB), 1); */

      & span {
        /* font-weight: 600; */
      }
    }
  }
}

.player-controls {
  display: flex;
  align-items: center;
  position: relative;
  height: calc(100% - var(--player-visualization-height));
  transition: height 0.2s ease;
  
  
  padding-top: 1em;

  & .player-control-spacer {
    flex: 1;
  }

  & .player-control-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  & .player-control-right {
    margin-right: calc(var(--padding) + 3em);
  }

  & a {
    font-size: 0.8em;
  }

  & .player-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.8em;
    height: 1.8em;
    cursor: pointer;
    
    transition: transform 0.2s ease;

    & svg {
      width: 100%;
      height: 100%;
    }

    & svg,
    & svg * {
      fill: white;
      transition: fill 0.5s ease;
    }

    &:hover {
      & svg,
      & svg * {
        fill: rgba(var(--ids__hover-RGB), 1);
        transition: fill 0s ease;
      }
    }
  }
}

.player-status-caption {
  display: flex;
  gap: 0.5em;
  position: absolute;
  top: var(--player-visualization-height);
  transition: top 0.2s ease;
  bottom: var(--padding);
  right: var(--padding);

  & .emotion-caption {
    font-size: 0.8em;
  }
  & .total-time {
    opacity: 0.5;
    font-size: 0.8em;
  }

}

.player-position-indicator {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  
  & .player-position-line {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;  
    border-left: 1px solid rgba(255,255,255,0.5);
  }

  & .player-position-caption {
    position: absolute;
    left: 0.1em;
    top: var(--player-visualization-height);
    transition: top 0.2s ease;

    & span {
      font-size: 0.8em;
    }
  }

}