:root {
  --initial-height: 14em;
  --stuck-height: 8em;
  --player-visualization-height: 75%;
}

.media-container {
  position: sticky;
  top: 0;
  height: calc(var(--initial-height) + 1em);
  z-index: 1;


  & .media-space {
    background-color: rgba(var(--ids__background-RGB), 1);
    height: 5em;
    margin-bottom: -4em;

    @media (width < 768px) {
      margin-bottom: -4.5em;
    }
  }


  & .media-box {
    position: relative;
    display: flex;
    flex-direction: column;
    --padding: 0.5em;
    

    height: var(--initial-height);
    background-color: rgba(var(--ids__accent-RGB), 1);
    box-shadow: 0 1em 1em 0 white;
    transition: height 0.2s ease;
  }

  &.stuck {
    & .media-box {
      height: var(--stuck-height);
      transition: height 0.5s ease;
    }
  }
}


/* Player visualization timeline */
.player-visualization {

  position: relative;  
  background-color: rgba(var(--ids__surface-RGB), 1);
  height: var(--player-visualization-height);

  & .transcript-clip {
    position: absolute;
    height: 50%;
    top: 0;
    border: 1px solid white;
    cursor: pointer;
    transition: filter 0.1s ease;

    &:before {
      position: absolute;
        content: '';
        border: 1px solid transparent;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;        
      }
    
    /* Hover styles specific to visualization */
    &:hover,
    &.hover {
      filter: brightness(140%) saturate(115%);
      transition: filter 0s ease;
      /* border-color: rgba(255,255,255,0.3) !important; */
    }



    &[data-speaker-index="1"] {
      top: 50%;

      &:before {
        top: -100%;
      }

      
    }
    &[data-speaker-index="2"] {
      top: 0;
      &:before {
        bottom: -100%;
      }
    }

    /* Background colors based on behavior classes */
    &.behaviour-neutral {
      background-color: rgba(var(--behaviour-neutral-RGB), 1);      
      border-color: rgba(var(--behaviour-neutral-RGB), 1);      
    }

    &.behaviour-confused {
      background-color: rgba(var(--behaviour-confused-RGB), 1);
      border-color: rgba(var(--behaviour-confused-RGB), 1);
    }

    &.behaviour-frustrated {
      background-color: rgba(var(--behaviour-frustrated-RGB), 1);
      border-color: rgba(var(--behaviour-frustrated-RGB), 1);
    }

    &.behaviour-apologetic {
      background-color: rgba(var(--behaviour-apologetic-RGB), 1);
      border-color: rgba(var(--behaviour-apologetic-RGB), 1);
    }

    &.behaviour-annoyed {
      background-color: rgba(var(--behaviour-annoyed-RGB), 1);
      border-color: rgba(var(--behaviour-annoyed-RGB), 1);
    }

    &.behaviour-assertive {
      background-color: rgba(var(--behaviour-assertive-RGB), 1);
      border-color: rgba(var(--behaviour-assertive-RGB), 1);
    }

    &.behaviour-demanding {
      background-color: rgba(var(--behaviour-demanding-RGB), 1);
      border-color: rgba(var(--behaviour-demanding-RGB), 1);
    }

    &.behaviour-angry {
      background-color: rgba(var(--behaviour-angry-RGB), 1);
      border-color: rgba(var(--behaviour-angry-RGB), 1);
    }

    &.behaviour-threatening {
      background-color: rgba(var(--behaviour-threatening-RGB), 1);
      border-color: rgba(var(--behaviour-threatening-RGB), 1);
    }

    &.behaviour-exasperated {
      background-color: rgba(var(--behaviour-exasperated-RGB), 1);
      border-color: rgba(var(--behaviour-exasperated-RGB), 1);
    }

        
        & .clip-caption,
    & .clip-text {
      display: none;
    }
  }
}

.speaker-labels {
  position: absolute;
  width: 100%;
  height: var(--player-visualization-height);
  pointer-events: none;

  & .speaker-label {
    position: absolute;
    display: flex;
    align-items: flex-end;
    padding-left: 0.1em;
    height: 50%;

    &[data-speaker-index="1"] {
      top: 50%;
    }
    &[data-speaker-index="2"] {
      top: 0;
    }

    & span {
      font-size: 0.8em;
      line-height: 1;
      background-color: rgba(var(--ids__surface-RGB), 1);
      padding: 0.1em 0.2em 0 0;
      color: rgba(var(--ids__text-RGB), 0.3);

      
    }
  }
}

.player-controls {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  

  & a {
    font-size: 0.8em;
  }
}

.player-total-time {
  position: absolute;
  top: var(--player-visualization-height);
  bottom: var(--padding);
  right: var(--padding);

  & span {
    opacity: 0.5;
    font-size: 0.8em;
  }

}

.player-position-indicator {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  
  & .player-position-line {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;  
    border-left: 1px solid rgba(255,255,255,0.5);
  }

  & .player-position-caption {
    position: absolute;
    left: 0.1em;
    top: var(--player-visualization-height);

    & span {
      font-size: 0.8em;
    }
  }

}