.media-container {
  position: sticky;
  top: 0;
  --initial-height: 12em;
  --stuck-height: 10em;
  height: calc(var(--initial-height) + 1em);
  z-index: 1;


  & .media-space {
    background-color: rgba(var(--ids__background-RGB), 1);
    height: 5em;
    margin-bottom: -4em;

    @media (width < 768px) {
      margin-bottom: -4.5em;
    }
  }


  & .media-box {
    height: var(--initial-height);
    background-color: rgba(var(--ids__accent-RGB), 1);
    box-shadow: 0 1em 1em 0 rgba(var(--ids__background-RGB), 1);
    transition: height 0.2s ease;
  }

  &.stuck {
    & .media-box {
      height: var(--stuck-height);
      transition: height 0.5s ease;
    }
  }
}