.publication-header {
  padding: 1.5em 0;
  border-bottom: 1px solid rgba(var(--ids__UI-border-RGB), 1);

  &.modulate-legacy-dark-theme {
    background-color: rgba(var(--ids__background-RGB), 1);
    color: rgba(var(--ids__text-RGB), 1);
  }

  & .publication-header-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2em;
  }

  & .publication-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & .publication-nav-group {
    display: flex;
    align-items: center;
    gap: 2em;
  }

  & .publication-logo {
    font-size: 1.2em;
    font-weight: 700;
    color: rgba(var(--ids__text-RGB), 1);
    text-decoration: none;
    transition: color 0.5s ease;

    &:hover {
      color: rgba(var(--ids__text-hover-RGB), 1);
      transition: color 0s ease;
    }
  }

  & .publication-nav-link {
    font-size: 0.9em;
    font-weight: 480;
    color: rgba(var(--ids__text-RGB), 1);
    text-decoration: none;
    transition: color 0.5s ease;

    &:hover {
      color: rgba(var(--ids__text-hover-RGB), 1);
      transition: color 0s ease;
    }

    &.publication-nav-button {
      background-color: rgba(255, 255, 255, 1);
      color: rgba(var(--ids__text-RGB), 1);
      padding: 0.5em 1.5em;
      border-radius: var(--ids__radius);
      transition: background-color 0.5s ease, color 0.5s ease;

      &:hover {
        background-color: rgba(var(--ids__bg-hover-RGB), 1);
        color: rgba(var(--ids__text-inverted-RGB), 1);
        transition: background-color 0s ease, color 0s ease;
      }
    }
  }
}
