.summary-container {
  width: 98%;
  margin: 0.5em auto;

  & .summary-table {
    margin: 1.5em 0;
    width: 100%;

    & thead {
      & th {
        color: rgb(var(--ids__text-RGB));
        font-size: 0.8em;
        font-weight: normal;
        text-align: left;
        vertical-align: top;
        padding-bottom: 0.5em;
      }
    }

    & tr {
      & td {
        padding-bottom: 0.5em;
        padding-right: 0.3em;
        vertical-align: top;
      }

      & .speaker-name-column {
        width: 28%;
      }

      & .speaker-name-input-wrapper {
        position: relative;
        display: inline-block;
        width: 100%;
      }

      & .speaker-name-input {
        border: none;
        background-color: transparent;
        border-radius: 0.2em;
        padding: 0.1em 0.2em 0.1em 0;
        margin: 0;
        height: 1.8em;
        line-height: 1.6em;
        font: inherit;
        color: rgba(var(--ids__text-RGB), 1);
        width: 100%;
        outline: none;
        cursor: text;
        box-sizing: border-box;
        transition: color 0.5s ease, background-color 0.5s ease;
        
        &:hover {
          color: rgba(var(--ids__text-RGB), 0.8);
          transition: color 0s ease, background-color 0s ease;
        }
        
        &:focus {
          background-color: rgba(var(--ids__hover-RGB), 0.15);
          color: rgba(var(--ids__text-RGB), 1);
        }
      }

      & .speaker-name-input-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 0.8em;
        height: 0.8em;
        margin-left: 0.1em;
        pointer-events: none;
        opacity: 0.8;
        visibility: visible;
        transition: opacity 0.2s ease, left 0.1s ease, visibility 0s ease;
        color: inherit;
        
        .speaker-name-input-wrapper:hover & {
          opacity: 1;
        }
      }
      
      & .speaker-name-input-wrapper:has(.speaker-name-input:focus) .speaker-name-input-icon {
        opacity: 0;
        visibility: hidden;
      }

      & .speaker-info-column {
        width: 33%;
      }

      & .behaviours-column {
        width: 39%;
        padding-right: 0;
      }
    }
    
    & p {
      margin-bottom: 0.2em;
    }
  }

  & .speaker-fingerprint-wrapper {
    display: flex;
    align-items: center;
    gap: 0.3em;
    margin: 0;
  }

  & .fingerprint-emotion-caption {
    font-size: 0.8em;
    opacity: 0.5;
    margin-top: 0.2em;
    min-height: 1.2em;
    
    &.showing-emotion {
      opacity: 1;
      transition: opacity 0s ease;
    }
  }

  & .speaker-fingerprint {
    height: 1.8em;
    flex-shrink: 0;
    display: flex;
    gap: 0;
    border-radius: 0.2em;
    overflow: hidden;
    align-self: center;
    --base-width: 70%;

    & .speaker-fingerprint-clip {
      min-width: 2px;
      height: 100%;
      cursor: pointer;
      transition: filter 0.2s ease, opacity 0.2s ease;
      /* Default background color - will be overridden by emotion classes */
      background-color: rgba(var(--emotion-neutral-RGB), 1);

      &:hover,
      &.hover {
        filter: brightness(140%) saturate(115%);
        transition: filter 0s ease, opacity 0s ease;
      }
    }
  }

  & .speaker-time-info {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    flex-shrink: 0;
  }

  & .speaker-time-percent {
    font-size: 1em;
    font-weight: normal;
    padding: 0.1em 0;
    margin: 0;
    height: 1.8em;
    line-height: 1.6em;
    display: flex;
    align-items: center;
  }

  & .speaker-time-label {
    font-size: 0.8em;
    opacity: 0.7;
  }
  
}

a.detected-behaviour {
  font-weight: 700;
  text-decoration-thickness: 3px;
  text-decoration-color: rgba(var(--ids__link-RGB), 1);

  
  &:hover {    
    text-decoration-color: rgba(var(--ids__hover-RGB), 1);
  }
}
