.summary-container {
  width: 98%;
  margin: 0.5em auto;

  & .summary-table {
    margin: 1.5em 0;
    width: 100%;

    & thead {
      & th {
        color: rgb(var(--ids__text-RGB));
        font-size: 0.8em;
        font-weight: 600;
        text-align: left;
        vertical-align: top;
        padding: 0 0.8em 0.5em 0;
      }
    }

    & td:not(.behaviour-column) {
      font-size: 0.8em;
    }

    & .speaker-name-column {
      width: 10em;
      min-width: 10em;
    }

    & .speaker-time-column {
      position: relative;
    }

    &.behaviours-summary {
      & .behaviour-column {
        width: 16em;
        padding-bottom: 0.5em;

        & p {
          margin-top: 0.5em;
          font-size: 0.8em;
        }
      }

      & .behaviour-confidence-column {
        display: none;
      }

      & .behaviour-clips-column,
      & .behaviour-models-column {
        display: none;
      }
      & td.behaviour-spider-column {
      }
    }

    &.emotions-summary {
      & td.speaker-emotions-graph-column {
        width: 50%;
        height: 5em;
      }

      & .speaker-emotions-list-column {
        width: 50%;
        & .emotion-list-item {
          font-weight: inherit;
        }
      }
    }
  }

  /* to sort among tables */

  & .speaker-fingerprint-wrapper {
    display: flex;
    align-items: center;
    gap: 0.3em;
    margin: 0;
  }

  & .fingerprint-emotion-caption {
    /* font-size: 0.8em; */
    color: rgba(var(--ids__text-caption-RGB), 1);
    margin-top: 0.2em;
    min-height: 1.2em;
    opacity: 0;
    transition: opacity 0.5s ease;

    &.visible {
      opacity: 1;
      transition: opacity 0s ease;
    }
  }

  & .speaker-fingerprint {
    height: 2.6em;
    flex-shrink: 0;
    display: flex;
    gap: 0;
    border-radius: 0.2em;
    overflow: hidden;
    align-self: center;
    --base-width: 70%;

    & .speaker-fingerprint-clip {
      min-width: 2px;
      height: 100%;
      cursor: pointer;
      transition: filter 0.2s ease, opacity 0.2s ease;
      /* Default background color - will be overridden by emotion classes */
      background-color: rgba(var(--emotion-neutral-RGB), 1);

      &:hover,
      &.hover {
        filter: brightness(140%) saturate(115%);
        transition: filter 0s ease, opacity 0s ease;
      }

      /* Emotion colors - using individual emotion variables */

      /* no strong signal */
      &.emotion-neutral {
        background-color: rgba(var(--emotion-neutral-RGB), 1);
      }
      &.emotion-unknown {
        background-color: rgba(var(--emotion-unknown-RGB), 1);
      }

      /* attack / rejection */
      &.emotion-angry {
        background-color: rgba(var(--emotion-angry-RGB), 1);
      }
      &.emotion-contemptuous {
        background-color: rgba(var(--emotion-contemptuous-RGB), 1);
      }
      &.emotion-disgusted {
        background-color: rgba(var(--emotion-disgusted-RGB), 1);
      }

      /* threat / uncertainty */
      &.emotion-afraid {
        background-color: rgba(var(--emotion-afraid-RGB), 1);
      }
      &.emotion-anxious {
        background-color: rgba(var(--emotion-anxious-RGB), 1);
      }
      &.emotion-stressed {
        background-color: rgba(var(--emotion-stressed-RGB), 1);
      }
      &.emotion-surprised {
        background-color: rgba(var(--emotion-surprised-RGB), 1);
      }
      &.emotion-ashamed {
        background-color: rgba(var(--emotion-ashamed-RGB), 1);
      }
      &.emotion-frustrated {
        background-color: rgba(var(--emotion-frustrated-RGB), 1);
      }

      /* calm / grounded */
      &.emotion-calm {
        background-color: rgba(var(--emotion-calm-RGB), 1);
      }
      &.emotion-confident {
        background-color: rgba(var(--emotion-confident-RGB), 1);
      }
      &.emotion-interested {
        background-color: rgba(var(--emotion-interested-RGB), 1);
      }

      /* excited / engaged */
      &.emotion-affectionate {
        background-color: rgba(var(--emotion-affectionate-RGB), 1);
      }
      &.emotion-amused {
        background-color: rgba(var(--emotion-amused-RGB), 1);
      }
      &.emotion-excited {
        background-color: rgba(var(--emotion-excited-RGB), 1);
      }
      &.emotion-happy {
        background-color: rgba(var(--emotion-happy-RGB), 1);
      }
      &.emotion-hopeful {
        background-color: rgba(var(--emotion-hopeful-RGB), 1);
      }
      &.emotion-proud {
        background-color: rgba(var(--emotion-proud-RGB), 1);
      }
      &.emotion-relieved {
        background-color: rgba(var(--emotion-relieved-RGB), 1);
      }
      &.emotion-curious {
        background-color: rgba(var(--emotion-curious-RGB), 1);
      }

      /* low energy, negative */
      &.emotion-sad {
        background-color: rgba(var(--emotion-sad-RGB), 1);
      }
      &.emotion-disappointed {
        background-color: rgba(var(--emotion-disappointed-RGB), 1);
      }
      &.emotion-bored {
        background-color: rgba(var(--emotion-bored-RGB), 1);
      }
      &.emotion-tired {
        background-color: rgba(var(--emotion-tired-RGB), 1);
      }
      &.emotion-concerned {
        background-color: rgba(var(--emotion-concerned-RGB), 1);
      }
      &.emotion-confused {
        background-color: rgba(var(--emotion-confused-RGB), 1);
      }
    }
  }

  & .speaker-time-info {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    flex-shrink: 0;
  }

  & .speaker-time-percent {
    font-size: 1em;
    font-weight: normal;
    padding: 0.1em 0;
    margin: 0;
    height: 1.8em;
    line-height: 1.6em;
    display: flex;
    align-items: center;
  }

  & .speaker-time-label {
    font-size: 0.8em;
    opacity: 0.7;
  }
}

a.detected-behaviour {
  font-weight: 700;
  text-decoration: none;
  border-bottom: 3px solid currentColor;
  transition: color 0.5s ease, border-color 0.5s ease;

  &:hover {
    border-color: currentColor;
    transition: color 0s ease, border-color 0s ease;
  }

  & .behaviour-icon {
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    margin-right: -0.1em;
  }

  & .behaviour-icon--kiki,
  & .behaviour-icon--buba {
    position: relative;
    top: 0.05em;
  }
}

.spider-graph-wrapper {
  display: flex;
  gap: 0.5em;

  & .spider-graph {
    width: 10em;
    /* border: 1px solid rgba(var(--ids__text-RGB), 0.4); */
    background-color: rgba(var(--ids__bg-surface-RGB), 1);
    border-radius: 0.5em;
    padding: 0.2em 0.4em;
    margin-bottom: 1em;

    & .spider-graph-captions {
      font-size: 0.7em;
      display: flex;
      justify-content: space-between;
      color: rgba(var(--ids__text-RGB), 1);

      & .spider-graph-caption {
        color: rgba(var(--ids__text-RGB), 0.4);
      }
    }

    &.acoustic {
      & .spider-graph-caption.acoustic {
        color: rgba(var(--ids__text-RGB), 1);
        font-weight: 500;
      }
    }

    &.emotion {
      & .spider-graph-caption.emotion {
        color: rgba(var(--ids__text-RGB), 1);
        font-weight: 500;
      }
    }

    &.timing {
      & .spider-graph-caption.timing {
        color: rgba(var(--ids__text-RGB), 1);
        font-weight: 500;
      }
    }

    &.volume {
      & .spider-graph-caption.volume {
        color: rgba(var(--ids__text-RGB), 1);
        font-weight: 500;
      }
    }

    &.timbre {
      & .spider-graph-caption.timbre {
        color: rgba(var(--ids__text-RGB), 1);
        font-weight: 500;
      }
    }

    &.text {
      & .spider-graph-caption.text {
        color: rgba(var(--ids__text-RGB), 1);
        font-weight: 500;
      }
    }
  }

  & .spider-text {
    width: 15em;
  }
}
