.summary-container {
  width: 98%;
  margin: 0.5em auto;

  & .summary-table {
    margin: 1.5em 0;
    width: 100%;

    & thead {
      & th {
        color: rgb(var(--ids__text-RGB));
        font-size: 0.8em;
        font-weight: normal;
        text-align: left;
        vertical-align: top;
        padding-bottom: 0.5em;
      }
    }

    & tr {
      & td {
        padding-bottom: 0.5em;
        padding-right: 0.3em;
        vertical-align: top;
      }

      & .speaker-name-column {
        width: 28%;
      }

      & .speaker-info-column {
        width: 33%;
      }

      & .behaviours-column {
        width: 39%;
        padding-right: 0;
      }
    }

    & p {
      margin-bottom: 0.2em;
    }
  }

  & .speaker-fingerprint-wrapper {
    display: flex;
    align-items: center;
    gap: 0.3em;
    margin: 0;
  }

  & .fingerprint-emotion-caption {
    font-size: 0.8em;
    color: rgba(var(--ids__text-caption-RGB), 1);
    margin-top: 0.2em;
    min-height: 1.2em;
  }

  & .speaker-fingerprint {
    height: 1.8em;
    flex-shrink: 0;
    display: flex;
    gap: 0;
    border-radius: 0.2em;
    overflow: hidden;
    align-self: center;
    --base-width: 70%;

    & .speaker-fingerprint-clip {
      min-width: 2px;
      height: 100%;
      cursor: pointer;
      transition: filter 0.2s ease, opacity 0.2s ease;
      /* Default background color - will be overridden by emotion classes */
      background-color: rgba(var(--emotion-neutral-RGB), 1);

      &:hover,
      &.hover {
        filter: brightness(140%) saturate(115%);
        transition: filter 0s ease, opacity 0s ease;
      }
    }
  }

  & .speaker-time-info {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    flex-shrink: 0;
  }

  & .speaker-time-percent {
    font-size: 1em;
    font-weight: normal;
    padding: 0.1em 0;
    margin: 0;
    height: 1.8em;
    line-height: 1.6em;
    display: flex;
    align-items: center;
  }

  & .speaker-time-label {
    font-size: 0.8em;
    opacity: 0.7;
  }
}

a.detected-behaviour {
  font-weight: 700;
  text-decoration: none;
  border-bottom: 3px solid currentColor;
  transition: color 0.5s ease, border-color 0.5s ease;
  margin-bottom: 0.5em;

  &:hover {
    border-color: currentColor;
    transition: color 0s ease, border-color 0s ease;
  }

  & .behaviour-icon {
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    margin-right: -0.1em;
  }

  & .behaviour-icon--kiki,
  & .behaviour-icon--buba {
    position: relative;
    top: 0.05em;
  }
}

.models-container {
  font-size: 0.6em;
  display: flex;
  flex-wrap: wrap;
  --gap: 0.4em;
  gap: var(--gap);
  --columns: 6;

  & .model-item {
    width: calc((100% - var(--gap) * (var(--columns) - 1)) / var(--columns));
    border: 1px solid rgba(var(--ids__text-RGB), 0.1);
    border-radius: 0.2em;
    padding: 0.5em;
  }
}
