/* Keyframe animation for playing clip background */
@keyframes playing-pulse {
  0%, 100% {
    background-color: rgb(var(--ids__hover-RGB), 0.2);
  }
  50% {
    background-color: rgb(var(--ids__hover-RGB), 0.3);
  }
}

.transcript-container {
  width: 98%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  /* margin-bottom: -8em; */
  
  @media (width < 768px) {
    width: 100%;
  }
  
  & .transcript-clip {
    background-color: rgba(var(--ids__surface-RGB), 1);
    padding: 0.7em 3.7em 0.7em 0.7em;
    cursor: pointer;
    transition: color 0.5s ease, background-color 0.5s ease;
    --ids__radius: 2em;

    & .clip-visualization {
      display: none;
    }

    border-radius: var(--ids__radius);
    corner-shape: squircle;

    &[data-speaker-index="1"] {
      margin-right: 3em;
      border-radius:  0 var(--ids__radius) var(--ids__radius) var(--ids__radius);

      @supports not (corner-shape: squircle) {
        --ids__radius: 2.5em;
        border-radius: 0;
        border-radius: initial;
        mask:
          
          url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><path d="m0,0 l99,0 c1,0 1,0 1,1 l0,99 l-100,0 l0,-100 Z"/></svg>') top right / calc(var(--ids__radius) * 100) no-repeat intersect,
          url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><path d="m0,0 l100,0 l0,99 c0,1 -0,1 -1,1 l-99,0 Z"/></svg>') bottom right / calc(var(--ids__radius) * 100) no-repeat intersect,
          url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><path d="m0,0 l100,0 l0,100 l-99,0 c-1,0 -1,-0 -1,-1 Z"/></svg>') bottom left / calc(var(--ids__radius) * 100) no-repeat intersect;
      }
    
        
    }
    &[data-speaker-index="2"] {
      margin-left: 3em;
      border-radius: var(--ids__radius) 0 var(--ids__radius) var(--ids__radius);

      @supports not (corner-shape: squircle) {
        --ids__radius: 2.5em;
        border-radius: 0;
        border-radius: initial;
        mask:
      url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><path d="m0,1 c0,-1 0,-1 1,-1 l99,0 l0,100 l-100,0 Z"/></svg>') top left / calc(var(--ids__radius) * 100) no-repeat intersect,
      url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><path d="m0,0 l100,0 l0,99 c0,1 -0,1 -1,1 l-99,0 Z"/></svg>') bottom right / calc(var(--ids__radius) * 100) no-repeat intersect,
      url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><path d="m0,0 l100,0 l0,100 l-99,0 c-1,0 -1,-0 -1,-1 Z"/></svg>') bottom left / calc(var(--ids__radius) * 100) no-repeat intersect;
      }
    }
    
    /* Hover styles specific to transcript container */
    &:hover,
    &.hover {
      color: rgb(var(--ids__hover-RGB), 1);
      background-color: rgb(var(--ids__hover-RGB), 0.15);
      transition: color 0s ease, background-color 0s ease;

      & .clip-caption {


        & .behaviour {
          color: rgb(var(--ids__hover-RGB));
          text-decoration-color: rgba(var(--ids__hover-RGB), 1);
          transition: color 0s ease, text-decoration 0s ease;
        }
      }

      


    }

    /* Playing state - highlight currently playing clip */
    &.playing {
      animation: playing-pulse 1s ease-in-out infinite;
    }

    & .clip-caption {
      font-size: 0.8em;
      display: flex;
      gap: 0.5em;
      margin-bottom: 0.4em;
      
      & .time {
        opacity: 0.5;        
      }
      & .duration {
        display: none;
        opacity: 0.5;        
      }
      & .name {
        opacity: 0.5;        
      }
      & .behaviour {
        font-weight: 600;
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 0.2em;
        text-decoration-skip-ink: none;
        transition: color 0.5s ease, text-decoration 0.5s ease;
      }
      & .language {
        display: none;
        opacity: 0.5;        
      }
    }

    &.evidence {
      & .clip-text {
        font-size: 1.5em;
      }
    }

  }
}

/* Demo recordings table */
.demo-recordings-section {
  margin: 2em 0;

  & h2 {
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 1em;
  }

  & .demo-recordings-table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(var(--ids__surface-RGB), 1);


    & thead {
      & th {
        text-align: left;
        padding: 0.7em;
        font-weight: 500;
        font-size: 0.9em;
        border-bottom: 1px solid rgba(var(--ids__text-RGB), 0.2);
        color: rgba(var(--ids__text-RGB), 0.7);
      }
    }

    & tbody {
      & tr {
        background-color: rgba(var(--ids__surface-RGB), 1);
        border-bottom: 1px solid rgba(var(--ids__text-RGB), 0.1);
        cursor: pointer;
        transition: color 0.5s ease, background-color 0.5s ease;

        &:hover {
          color: rgb(var(--ids__hover-RGB), 1);
          background-color: rgb(var(--ids__hover-RGB), 0.15);
          transition: color 0s ease, background-color 0s ease;
        }

        &:last-child {
          border-bottom: none;
        }
      }

      & td {
        padding: 0.7em;
        font-size: 0.9em;
      }
    }
  }
}
