:root,
.light-mode {
  /* TEXT */
  --uds__text-primary-RGB: 17, 13, 15;
  --uds__text-link-RGB: 42, 38, 40;
  --uds__text-accent-RGB: 255, 83, 145;
  --uds__text-hover-RGB: 255, 125, 171;
  --uds__text-caption-RGB: 142, 136, 140;
  --uds__text-inverted-RGB: 240, 234, 237;

  /* BACKGROUND */
  --uds__bg-primary-RGB: 255, 255, 255;
  --uds__bg-secondary-RGB: var(--uds__text-primary-RGB);
  --uds__bg-surface-neutral-RGB: 240, 234, 237;
  --uds__bg-surface-accent-RGB: 255, 232, 240;
  --uds__bg-accent-RGB: var(--uds__text-accent-RGB);
  --uds__bg-hover-RGB: var(--uds__text-hover-RGB);

  /* UI */
  --uds__UI-control-RGB: var(--uds__bg-surface-neutral-RGB);
  --uds__UI-border-RGB: 214, 208, 212;
  --uds__UI-error-RGB: 255, 53, 84;
  --uds__UI-success-RGB: 21, 207, 135;
}

.dark-mode {
  /* TEXT */
  --uds__text-primary-RGB: 240, 234, 237;
  --uds__text-caption-RGB: 102, 94, 99;
  --uds__text-link-RGB: 214, 208, 212;
  --uds__text-inverted-RGB: 17, 13, 15;
  --uds__text-accent-RGB: 255, 83, 145;
  --uds__text-hover-RGB: 255, 125, 171;

  /* BACKGROUND */
  --uds__bg-primary-RGB: 17, 13, 15;
  --uds__bg-secondary-RGB: var(--uds__text-primary-RGB);
  --uds__bg-surface-neutral-RGB: 51, 47, 49;
  --uds__bg-surface-accent-RGB: 85, 61, 68;
  --uds__bg-accent-RGB: var(--uds__text-accent-RGB);
  --uds__bg-hover-RGB: var(--uds__text-hover-RGB);

  /* UI */
  --uds__UI-control-RGB: var(--uds__bg-surface-neutral-RGB);
  --uds__UI-border-RGB: var(--uds__bg-surface-neutral-RGB);
  --uds__UI-error-RGB: 255, 53, 84;
  --uds__UI-success-RGB: 21, 207, 135;

}

body {
  color: rgba(var(--uds__text-RGB), 1);
  background-color: rgba(var(--uds__background-RGB), 1);
}