:root, .light-mode {
  --ids__text-RGB: 60, 60, 60;

  --ids__link-RGB: 44, 44, 44;
  --ids__hover-RGB: 100, 110, 140;
  --ids__accent-RGB: 20, 20, 50;
  --ids__pen-RGB: 0, 65, 205;
  --ids__mark-RGB: 255, 200, 29;
  --ids__surface-RGB: 238, 238, 240;
  --ids__background-RGB: 255, 255, 255;

  /* Emotion tags colors based on Plutchik's wheel of emotions */
  --emotion-neutral-RGB: 80, 80, 100;
  --emotion-confused-RGB: 0, 184, 255;
  --emotion-frustrated-RGB: 180, 60, 180;
  --emotion-apologetic-RGB: 0, 144, 200;
  --emotion-annoyed-RGB: 255, 100, 100;
  --emotion-assertive-RGB: 255, 180, 0;
  --emotion-demanding-RGB: 255, 140, 60;
  --emotion-angry-RGB: 255, 60, 60;
  --emotion-threatening-RGB: 200, 40, 180;
  --emotion-exasperated-RGB: 200, 50, 150;
}

body {
  color: rgba(var(--ids__text-RGB), 1);
  background-color: rgba(var(--ids__background-RGB), 1);
}

.dark-mode {
  --ids__background-RGB: 20, 20, 30;
  --ids__surface-RGB: 40, 40, 60;
  --ids__text-RGB: 255, 255, 255;
  --ids__link-RGB: 255, 255, 255;
  --ids__hover-RGB: 100, 110, 140;

  background-color: rgba(var(--ids__background-RGB), 1);
  color: rgba(var(--ids__text-RGB), 1);


}