:root {
  --ids__text-RGB: 60, 60, 60;

  --ids__link-RGB: 44, 44, 44;
  --ids__hover-RGB: 255, 50, 50;
  --ids__accent-RGB: 20, 20, 50;
  --ids__pen-RGB: 0, 65, 205;
  --ids__mark-RGB: 255, 200, 29;
  --ids__surface-RGB: 238, 238, 240;
  --ids__background-RGB: 255, 255, 255;

  /* Behaviour tags colors based on Plutchik's wheel of emotions */
  --behaviour-neutral-RGB: 180, 180, 180;
  --behaviour-confused-RGB: 0, 184, 255;
  --behaviour-frustrated-RGB: 180, 60, 180;
  --behaviour-apologetic-RGB: 0, 144, 200;
  --behaviour-annoyed-RGB: 255, 100, 100;
  --behaviour-assertive-RGB: 255, 180, 0;
  --behaviour-demanding-RGB: 255, 140, 60;
  --behaviour-angry-RGB: 255, 60, 60;
  --behaviour-threatening-RGB: 200, 40, 180;
  --behaviour-exasperated-RGB: 200, 50, 150;
}

body {
  color: rgba(var(--ids__text-RGB), 1);
  background-color: rgba(var(--ids__background-RGB), 1);
}