:root {
  --ids__text-RGB: 60, 60, 60;

  --ids__link-RGB: 44, 44, 44;
  --ids__hover-RGB: 255, 50, 50;
  --ids__accent-RGB: 20, 20, 50;
  --ids__pen-RGB: 0, 65, 205;
  --ids__mark-RGB: 255, 200, 29;
  --ids__surface-RGB: 238, 238, 240;
  --ids__background-RGB: 255, 255, 255;
}

body {
  color: rgba(var(--ids__text-RGB), 1);
  background-color: rgba(var(--ids__background-RGB), 1);
}