:root,
.light-mode {
  /* TEXT */
  --ids__text-RGB: 30, 30, 35;
  --ids__text-link-RGB: 50, 50, 70;
  --ids__text-hover-RGB: 110, 140, 190;
  --ids__text-caption-RGB: 150, 150, 170;
  --ids__text-inverted-RGB: 242, 242, 246;
  --ids__text-accent-RGB: 20, 20, 50;

  /* BACKGROUND */
  --ids__background-RGB: 255, 255, 255;
  --ids__bg-surface-RGB: 242, 242, 246;
  --ids__bg-accent-RGB: 20, 20, 50;
  --ids__bg-hover-RGB: var(--ids__text-hover-RGB);
  --ids__bg-mark-RGB: 255, 200, 29;

  /* UI */
  --ids__UI-control-RGB: var(--ids__bg-surface-RGB);
  --ids__UI-border-RGB: 220, 220, 230;
  --ids__UI-error-RGB: 255, 53, 84;
  --ids__UI-success-RGB: 21, 207, 135;
}

.dark-mode {
  /* TEXT */
  --ids__text-RGB: 255, 255, 255;
  --ids__text-caption-RGB: 128, 128, 128;
  --ids__text-link-RGB: 255, 255, 255;
  --ids__text-inverted-RGB: 20, 20, 30;
  --ids__text-hover-RGB: 110, 140, 190;

  /* BACKGROUND */
  --ids__background-RGB: 30, 30, 35;
  --ids__bg-surface-RGB: 50, 50, 70;
  --ids__bg-accent-RGB: 20, 20, 50;
  --ids__bg-hover-RGB: 100, 110, 140;
  --ids__bg-mark-RGB: 255, 200, 29;

  /* UI */
  --ids__UI-control-RGB: var(--ids__bg-surface-RGB);
  --ids__UI-border-RGB: var(--ids__bg-surface-RGB);
  --ids__UI-error-RGB: 255, 53, 84;
  --ids__UI-success-RGB: 21, 207, 135;

  color: rgba(var(--ids__text-RGB), 1);
  background-color: rgba(var(--ids__background-RGB), 1);
}

body {
  color: rgba(var(--ids__text-RGB), 1);
  background-color: rgba(var(--ids__background-RGB), 1);
}
