{% extends 'layout.html' %} {% set pageTitle = 'Table Skeleton' %} {% block content %}

    <div class="ids__wrapper">
      <div class="ids__space M"></div>
      <div class="summary-container">
        <h2>Speech Summary</h2>
        
        <table class="summary-table speech-summary">
          <thead>
            <tr>
              <th class="speaker-name-column">Speaker</th>
              <th class="speaker-emotions-column">Emotion pattern</th>
              <th class="speaker-time-column">Speaking time</th>
              <th class="speaker-language-column">Language</th>
              <th class="perceived-gender-column">Perceived gender</th>
              <th class="perceived-age-column">Perceived age</th>
              <th class="synthetic-human-column">Origin</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="speaker-name-column">
                <div class="skeleton-bar"></div>
              </td>
              <td class="speaker-emotions-column">
                <div class="skeleton-bar"></div>
              </td>
              <td class="speaker-time-column">
                <div class="skeleton-bar"></div>
              </td>
              <td class="speaker-language-column">
                <div class="skeleton-bar"></div>
              </td>
              <td class="perceived-gender-column">
                <div class="skeleton-bar"></div>
              </td>
              <td class="perceived-age-column">
                <div class="skeleton-bar"></div>
              </td>
              <td class="synthetic-human-column">
                <div class="skeleton-bar"></div>
              </td>
            </tr>

            <tr>
              <td class="speaker-name-column">
                <div class="skeleton-bar"></div>
              </td>
              <td class="speaker-emotions-column">
                <div class="skeleton-bar"></div>
              </td>
              <td class="speaker-time-column">
                <div class="skeleton-bar"></div>
              </td>
              <td class="speaker-language-column">
                <div class="skeleton-bar"></div>
              </td>
              <td class="perceived-gender-column">
                <div class="skeleton-bar"></div>
              </td>
              <td class="perceived-age-column">
                <div class="skeleton-bar"></div>
              </td>
              <td class="synthetic-human-column">
                <div class="skeleton-bar"></div>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="ids__space L"></div>
        <h2>Behaviors</h2>
        <table class="summary-table behaviours-summary">
          <thead>
            <tr>
              <th class="speaker-name-column">Speaker</th>
              <th class="behaviour-column">Behavior</th>
              <th class="behaviours-description">Behavior description</th>
              <th class="behaviour-spider-column">How we detect</th>
              <th class="behaviour-clips-column">Clips</th>
              <th class="behaviour-models-column">Models used</th>
              <th class="behaviour-confidence-column">Confidence</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="speaker-name-column">
                <div class="skeleton-bar"></div>
              </td>
              <td class="behaviour-column">
                <div class="skeleton-bar"></div>
              </td>
              <td class="behaviours-description">
                <div class="skeleton-bar"></div>
              </td>
              <td class="behaviour-spider-column">
                <div class="skeleton-bar"></div>
              </td>
              <td class="behaviour-clips-column">
                <div class="skeleton-bar"></div>
              </td>
              <td class="behaviour-models-column">
                <div class="skeleton-bar"></div>
              </td>
              <td class="behaviour-confidence-column">
                <div class="skeleton-bar"></div>
              </td>
            </tr>
            <tr>
              <td class="speaker-name-column">
                <div class="skeleton-bar"></div>
              </td>
              <td class="behaviour-column">
                <div class="skeleton-bar"></div>
              </td>
              <td class="behaviours-description">
                <div class="skeleton-bar"></div>
              </td>
              <td class="behaviour-spider-column">
                <div class="skeleton-bar"></div>
              </td>
              <td class="behaviour-clips-column">
                <div class="skeleton-bar"></div>
              </td>
              <td class="behaviour-models-column">
                <div class="skeleton-bar"></div>
              </td>
              <td class="behaviour-confidence-column">
                <div class="skeleton-bar"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

{% endblock %}
