{% extends 'layout.html' %} {% block content %}

<div class="ids__wrapper">
  <div class="ids__space L"></div>

  <div class="technical-loading-box dark-mode ids__rounded">
    <div class="technical-loading-content">
      <img src="/assets/loading-icon-new.svg" alt="Loading (new)" />
    </div>
  </div>
  <div class="ids__space S"></div>
  <div class="technical-loading-box dark-mode ids__rounded">
    <div class="technical-loading-content">
      <img src="/assets/loading-icon-old.svg" alt="Loading (old)" />
    </div>
  </div>

  <div class="ids__space L"></div>
</div>

{% endblock %}
