
{% extends 'layout.html' %} {% set pageTitle = 'Modulate Platform Demo - Waiting for Upload' %} {% block content %}

<div class="ids__wrapper">
  <div class="ids__space L"></div>

  <div class="media-container sticky">
    <div class="media-space"></div>
    <div class="media-box ids__rounded dark-mode">
      <div class="upload-area">
        <div class="upload-text">Drop your audio or video file here</div>
        <a href="#" class="upload-button">Choose file...</a>
      </div>
    </div>
  </div>
  <div class="demo-recordings-section">
    <p>Or choose one of the pre-loaded demo recordings</p>
    <table class="demo-recordings-table ids__rounded">
      <thead>
        <tr>
          <th style="width: 20%;">Fingerprint</th>
          <th style="width: 40%;">Title</th>
          <th style="width: 20%;">Category</th>
          <th style="width: 20%;">Industry</th>
        </tr>
      </thead>
      <tbody>
        <tr data-href="/demo" data-description="The main topic of the conversation was a dispute over a missing delivery, with Robert from customer service and the customer discussing the status and delivery confirmation of an order. Despite initial refusal of a refund and credit due to company policy, the agent eventually processed the refund and credit after confirming a delivery error." data-speaker-count="2">
          <td>04:39</td>
          <td>Dispute over missing delivery and refund</td>
          <td>Support</td>
          <td>E-commerce</td>
        </tr>
        <tr data-href="/demo" data-description="Two participants engaged in a heated discussion about their relationship, with &quot;Social Participant 2&quot; expressing a desire to work through challenges together, while &quot;Social Participant 1&quot; seemed conflicted and expressed the need to leave without specifying their decision. The conversation revolved around relationship dynamics, security, and making personal decisions, with no clear resolution reached." data-speaker-count="2">
          <td>01:53</td>
          <td>Relationship conflict and unresolved decision</td>
          <td>Social Conversation</td>
          <td>Entertainment</td>
        </tr>
        <tr data-href="/demo" data-description="An interview took place between Interviewee 1 and Interviewer 1, during which the interviewee discussed their experience at Sunstone Analytics and expressed a strong interest in the company and its hiring manager. After completing the interview questions, the two agreed to get coffee afterward" data-speaker-count="2">
          <td>01:36</td>
          <td>Job interview at Sunstone Analytics</td>
          <td>Job Interview</td>
          <td>HR</td>
        </tr>
        <tr data-href="/demo" data-description=" called customer service to resolve an issue with accessing online banking, which was prompted by a recent attempt to make a $200,000 wire transfer for a car loan; the agent conducted a security check and verified transaction details to address potential issues with fraud monitoring." data-speaker-count="2">
          <td>03:39</td>
          <td>Banking access issue and fraud monitoring check</td>
          <td>Support</td>
          <td>Banking</td>
        </tr>
        <tr data-href="/demo" data-description="The conversation involved several participants discussing a tense situation stemming from a recent death, allegedly involving violence and a need for police intervention, with Eddie mentioned as someone providing updates. One participant mentioned their wrist being fractured and others expressed anger over the death of a family member." data-speaker-count="4">
          <td>05:52</td>
          <td>Family dispute over death and police intervention</td>
          <td>Social Conversation</td>
          <td>Law Enforcement</td>
        </tr>
        <tr data-href="/demo" data-description="Sean confronts Juliet for taking his seat in a restaurant. Despite Juliet's initial reluctance to talk, the two engage in a playful conversation where Sean deduces that Juliet is a cop, leading to a request for a favor from her." data-speaker-count="2">
          <td>03:08</td>
          <td>Restaurant encounter and favor request</td>
          <td>Social Conversation</td>
          <td>Entertainment</td>
        </tr>
        <tr data-href="/demo" data-description="The conversation involves two participants discussing serious mental health concerns, with Social Participant 2 expressing feelings of hopelessness and suicidal ideation. Social Participant 1 offers support and suggests seeking medical attention." data-speaker-count="2">
          <td>01:04</td>
          <td>Mental health support and suicidal ideation discussion</td>
          <td>Support</td>
          <td>Healthcare</td>
        </tr>
        <tr data-href="/demo" data-description="The conversation involved a social participant humorously criticizing Danish friends for unnecessarily apologizing for their English skills, praising them for their proficiency, and suggesting they could teach English in England. A specific mention of an individual named Conrad implies a personal connection to the topic." data-speaker-count="1">
          <td>00:56</td>
          <td>Comedy routine about Danish English skills</td>
          <td>Show</td>
          <td>Entertainment</td>
        </tr>
        <tr data-href="/demo" data-description="The conversation features Social Participants 1, 2, and 3 coordinating an in-game strategy involving players like Lee, Mogris, and Welch, with the primary focus on positioning and managing tasks during gameplay, resulting in a discussion on performance and penalties." data-speaker-count="3">
          <td>01:25</td>
          <td>Game strategy coordination and performance discussion</td>
          <td>Gaming</td>
          <td>Entertainment</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="ids__space XL"></div>

{% endblock %}

