
{% extends 'layout.html' %} {% set pageTitle = 'Modulate Platform Demo - Waiting for Upload' %} {% block content %}

<div class="ids__wrapper">
  <div class="ids__space L"></div>

  <div class="media-container sticky">
    <div class="media-space"></div>
    <div class="media-box ids__rounded dark-mode">
      <div class="upload-area">
        <div class="upload-text">Drop your audio or video file here</div>
        <a href="#" class="upload-button">Choose file...</a>
      </div>
    </div>
  </div>
  <div class="demo-recordings-section">
    <p>Or choose one of the pre-loaded demo recordings</p>
    {% include "demo-recordings-table.html" %}
  </div>
</div>
<div class="ids__space XL"></div>

{% endblock %}

