{% extends 'layout.html' %} {% set pageTitle = 'Modulate Platform Demo' %} {% block content %}

<div class="ids__wrapper">
  <div class="ids__space L"></div>
  <div class="nav-container">
    <div class="nav-link">
      <a href="/">← <span class="nav-link-caption">Conversations</span></a>
    </div>
    <div class="nav-disclaimer">You're exploring a beta version. Features and visuals may change. Modulate doesn’t store any information.</div>
  </div>
  <div class="media-container sticky">
    <div class="media-space"></div>
    <div class="media-box ids__rounded">
      <div class="player-visualization">
        {% include "transcript-clips.html" %}
      </div>
      <div class="player-controls"></div>
    </div>
  </div>
  <div class="summary-container">
    <h1>Customer service dispute over missing delivery and refund resolution</h1>

    <div class="ids__text-width">
      <p>
        Customer service  ·  Dispute  ·  Conversation between <strong>Customer</strong> and <strong>Agent</strong>. The customer disputed a missing delivery and requested a refund. Agent initially refused due to company policy but eventually processed both refund and credit after confirming a delivery error.
      </p>
    </div>
  </div>
  <div class="columns">
    <div class="side-column">
      <div class="summary-cards">
        <div class="summary-card ids__rounded mode-switcher">
          <div class="radio-switcher">
            <input type="radio" id="speakers" name="mode" value="speakers" checked />
            <input type="radio" id="behaviours" name="mode" value="behaviours" />
            <div class="radio-switcher-track">
              <label for="speakers" class="radio-switcher-option">
                <span>Speakers</span>
              </label>
              <label for="behaviours" class="radio-switcher-option">
                <span>Behaviours</span>
              </label>
              <div class="radio-switcher-indicator ids__rounded"></div>
            </div>
          </div>
        </div>
        <div class="summary-card ids__rounded">
          <h3>Interviewer</h3>
          <p>English with Mediterranean accent · Perceived adult male · Human voice · Spoke 85% of the time · Low social positivity · High toxicity</p>
          <p>Maintained professionalism throughout most of the call, though tone shifted slightly when discussing company policies.</p>
          <div class="behaviours-section">
            <h4>Adult Language (4) · 88% confidence</h4>
            <p>I can't believe this task keeps</p>
            <p>Way do you keep interrupting me like that?!</p>
            <p>That's a ridiculous suggestion, come on!</p>
            <p>This deadline is impossible, l'm not doing it!</p>
          </div>
          <div class="behaviours-section">
            <h4>Harassment (2) · 86% confidence</h4>
            <p>That's a ridiculous suggestion, come on!</p>
            <p>I can't believe this task keeps</p>
          </div>
        </div>
        <div class="summary-card ids__rounded">
          <h3>Candidate</h3>
          <p>English with British accent - Perceived adult femal · Human voice · Spoke 15% of the time · Neutral social positivity · Low toxicity</p>
          <p>Started nervously but grew more confident as the conversation progressed, maintaining politeness throughout.</p>
          <div class="behaviours-section">
            <h4>Inappropriate Comment (1) · 91% confidence</h4>
            <p>That's a ridiculous suggestion, come on!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="main-column">
      <div class="transcript-container">
        {% include "transcript-clips.html" %}

      </div>
    </div>
  </div>
</div>

{% endblock %}
