{% extends 'layout.html' %} {% set pageTitle = 'Identity Research' %} {% block
content %}

<div class="ids__wrapper">
  <div class="ids__space M"></div>

  <h1>Company Identity Research</h1>

  <div class="ids__space M"></div>

  <div class="companies-list-container">
    <h2>Top 30 AI Startups</h2>
    <div class="company-item">OpenAI</div>
    <div class="company-item">Anthropic</div>
    <div class="company-item">Suno</div>
    <div class="company-item">Perplexity</div>
    <div class="company-item">Mistral</div>
    <div class="company-item">xAI</div>
    <div class="company-item">Scale AI</div>
    <div class="company-item">Cohere</div>
    <div class="company-item">CoreWeave</div>
    <div class="company-item">ElevenLabs</div>
    <div class="company-item">Dataiku</div>
    <div class="company-item">C3.ai</div>
    <div class="company-item">DeepL</div>
    <div class="company-item">Polycam</div>
    <div class="company-item">Photon Commerce</div>
    <div class="company-item">CloudAEye</div>
    <div class="company-item">Ziplyne</div>
    <div class="company-item">Weights & Biases</div>
    <div class="company-item">Loop</div>
    <div class="company-item">Labelbox</div>
    <div class="company-item">Dresslife</div>
    <div class="company-item">6sense</div>
    <div class="company-item">Groq</div>
    <div class="company-item">Cognition AI</div>
    <div class="company-item">Helsing</div>
    <div class="company-item">Imbue</div>
    <div class="company-item">Safe Superintelligence</div>
    <div class="company-item">01.AI</div>
    <div class="company-item">Covariant</div>
    <div class="company-item">Brex</div>

    <h2>Top 20 Technology Companies</h2>
    <div class="company-item">Apple</div>
    <div class="company-item">Microsoft</div>
    <div class="company-item">Alphabet (Google)</div>
    <div class="company-item">Amazon</div>
    <div class="company-item">Meta (Facebook)</div>
    <div class="company-item">Tesla</div>
    <div class="company-item">NVIDIA</div>
    <div class="company-item">Samsung</div>
    <div class="company-item">Intel</div>
    <div class="company-item">IBM</div>
    <div class="company-item">Oracle</div>
    <div class="company-item">Cisco</div>
    <div class="company-item">Adobe</div>
    <div class="company-item">Salesforce</div>
    <div class="company-item">Dell Technologies</div>
    <div class="company-item">HP Inc.</div>
    <div class="company-item">Sony</div>
    <div class="company-item">Qualcomm</div>
    <div class="company-item">SAP</div>
    <div class="company-item">Tencent</div>
  </div>

  <div class="ids__space L"></div>
</div>

{% endblock %}
