{% extends 'layout.html' %} {% set pageTitle = 'Modulate Platform Demo' %} {%
block content %}

<div class="ids__wrapper narrative-typography">
  <div class="ids__space L"></div>

  <h1 class="L">Understand the true meaning of every conversation</h1>
  <!-- {% include "components/fingerprint-visualization.html" %} -->

  <div class="ids__space S"></div>

  <p class="loud text-with-icons">
    Introducing Velma — the only voice-native AI model designed to
    understand human speech in all its depth and nuance. Velma’s ELM
    architecture transcends traditional LLMs to interpret <span
      style="width: 0.15em; display: inline-block"></span>
    <span class="nobr">{% include "assets/emotion-icon.html" %} emotion,</span>
    <span class="nobr"
      >{% include "assets/behaviour-icon-kiki.html" %} behaviors,</span
    > tone, intent, and context to unpack the full meaning of every conversation.
  </p>
  <p class="loud">
    See Velma in action:
  </p>

  <div class="ids__space S"></div>

  <div class="demo-recordings-section">
    {% include "components/demo-recordings-promo-table.html" %}
    <a href="/conversations" class="full-width-button">More conversations</a>
    
    <div class="ids__space M"></div>
    {% include "components/upload-area.html" %}
  </div>
  <div class="ids__space L"></div>
  <div class="ids__space M"></div>
  
    <h2>About Modulate</h2>
    <p>
      Modulate helps enterprises including Fortune 500 companies understand
      over 20 million minutes of voice per day. With Velma, our customers can improve their customer experiences, reduce risks such as fraud and harassment, detect rogue agents, and much more.
    </p>
    <p>Velma uses 
      <a href="https://ensemblelisteningmodel.com/" target="_blank"
        >Ensemble Listening Model (ELM)</a
      > technology to outperform foundation models, like LLMs, on accuracy and cost across
      multiple benchmarks. Velma is the #1 AI model for understanding
      conversations.
    </p>
    <a
      href="https://modulate.ai/velma"
      class="full-width-button"
      target="_blank"
      >Learn more about Velma</a
    >
  

  <div class="ids__space L"></div>
  <div class="ids__space M"></div>
  {% set ctaTitle = 'Talk to us' %} {% set ctaDescription = 'We help teams
  analyze real customer conversations to detect fraud, agent risk, and AI
  failures — in real time.' %} {% include "components/cta.html" %}
</div>
{% endblock %}
