{% extends 'layout.html' %} {% set pageTitle = 'Modulate Platform Demo' %} {%
block content %}

<div class="ids__wrapper">
  <div class="ids__space L"></div>
  <div class="ids__space L"></div>

  <div class="upload-error-box ids__rounded">
    <p>
      <strong> Failed to analyze conversation!</strong> Please try a different
      conversation or file
    </p>
  </div>
  <div class="ids__space XS"></div>

  {% include "components/upload-area.html" %}
  <div class="ids__space M"></div>

  <div class="ids__space L"></div>
</div>

{% endblock %}
