{% extends 'layout.html' %} {% set pageTitle = 'Modulate Platform Demo' %} {%
block content %}

<div class="ids__wrapper">
  <div class="ids__space L"></div>

  <div class="ids__text-width">
    <h1>Modulate Visual Identity</h1>
    <p class="caption">
      By Eugene Arutyunov and Ilya Sinelnikov, December 2025
    </p>

    <div class="ids__space S"></div>

    <p class="caption"><a href="#color-palette">Color palette</a></p>
    <p class="caption">
      <a href="#normality-vs-authenticity"
        >Industry Legibility vs Authenticity</a
      >
    </p>
    <p class="caption">
      <a href="#square-logo">There has to be a square element</a>
    </p>
    <p class="caption">
      <a href="#modulate-brand-identity-sketch">Modulate logo proposal</a>
    </p>
  </div>
</div>
<div class="ids__wrapper">
  <div class="ids__space L" id="color-palette"></div>
  <h2>Color palette</h2>
  <div class="ids__text-width">
    <p>
      Brand communication colors must map directly to the two functional
      palettes: interface and emotions.
    </p>
  </div>
  <div class="ids__space S"></div>
  <div class="ids__sequence XL gap-S">
    <div class="ids__sequence-item">
      <h4>Interface palette</h4>
      <div class="interface-color-palette ids__rounded">
        {% include 'color-palette.html' %}
      </div>
    </div>
    <div class="ids__sequence-item">
      <h4>Emotions palette</h4>
      <div class="emotions-color-palette dark-mode ids__rounded">
        <!-- Attack / rejection -->

        <div
          class="emotion-color-sample"
          style="background-color: rgba(var(--emotion-angry-RGB), 1)">
          Angry
        </div>
        <div
          class="emotion-color-sample"
          style="background-color: rgba(var(--emotion-contemptuous-RGB), 1)">
          Contemptuous
        </div>
        <div
          class="emotion-color-sample"
          style="background-color: rgba(var(--emotion-disgusted-RGB), 1)">
          Disgusted
        </div>

        <!-- Threat / uncertainty -->

        <div
          class="emotion-color-sample"
          style="background-color: rgba(var(--emotion-afraid-RGB), 1)">
          Afraid
        </div>
        <div
          class="emotion-color-sample"
          style="background-color: rgba(var(--emotion-anxious-RGB), 1)">
          Anxious
        </div>
        <div
          class="emotion-color-sample"
          style="background-color: rgba(var(--emotion-stressed-RGB), 1)">
          Stressed
        </div>
        <div
          class="emotion-color-sample"
          style="background-color: rgba(var(--emotion-surprised-RGB), 1)">
          Surprised
        </div>

        <div
          class="emotion-color-sample"
          style="background-color: rgba(var(--emotion-frustrated-RGB), 1)">
          Frustrated
        </div>

        <!-- Excited / engaged -->

        <div
          class="emotion-color-sample"
          style="background-color: rgba(var(--emotion-excited-RGB), 1)">
          Excited
        </div>

        <div
          class="emotion-color-sample"
          style="background-color: rgba(var(--emotion-hopeful-RGB), 1)">
          Hopeful
        </div>
        <div
          class="emotion-color-sample"
          style="background-color: rgba(var(--emotion-proud-RGB), 1)">
          Proud
        </div>

        <div
          class="emotion-color-sample"
          style="background-color: rgba(var(--emotion-curious-RGB), 1)">
          Curious
        </div>

        <!-- Low energy, negative -->

        <div
          class="emotion-color-sample"
          style="background-color: rgba(var(--emotion-sad-RGB), 1)">
          Sad
        </div>
        <div
          class="emotion-color-sample"
          style="background-color: rgba(var(--emotion-disappointed-RGB), 1)">
          Disappointed
        </div>
        <div
          class="emotion-color-sample"
          style="background-color: rgba(var(--emotion-bored-RGB), 1)">
          Bored
        </div>
        <div
          class="emotion-color-sample"
          style="background-color: rgba(var(--emotion-tired-RGB), 1)">
          Tired
        </div>
        <div
          class="emotion-color-sample"
          style="background-color: rgba(var(--emotion-concerned-RGB), 1)">
          Concerned
        </div>
        <div
          class="emotion-color-sample"
          style="background-color: rgba(var(--emotion-confused-RGB), 1)">
          Confused
        </div>

        <!-- Calm / grounded -->

        <div
          class="emotion-color-sample"
          style="background-color: rgba(var(--emotion-calm-RGB), 1)">
          Calm
        </div>
        <div
          class="emotion-color-sample"
          style="background-color: rgba(var(--emotion-confident-RGB), 1)">
          Confident
        </div>
        <div
          class="emotion-color-sample"
          style="background-color: rgba(var(--emotion-interested-RGB), 1)">
          Interested
        </div>

        <!-- No strong signal -->

        <div
          class="emotion-color-sample"
          style="background-color: rgba(var(--emotion-neutral-RGB), 1)">
          Neutral
        </div>
        <div
          class="emotion-color-sample"
          style="background-color: rgba(var(--emotion-unknown-RGB), 1)">
          Unknown
        </div>
      </div>
      <div class="fingerprint-visualization-wrapper">
        {% include "fingerprint-visualization.html" %}
      </div>
    </div>
  </div>
  <div class="ids__space S"></div>
  <div class="ids__text-width">
    <p>
      We will anchor the brand in a single, dominant color used consistently
      across core touchpoints. Multicolor becomes a controlled accent, applied
      only where it reinforces the system rather than competing with it.
    </p>
  </div>
  <div class="ids__sequence XL gap-S">
    <div class="ids__sequence-item ids__rounded">
      <div class="brand-color-palette dark-mode">
        <img src="/assets/identity-draft/color11.png" />
      </div>
    </div>
    <div class="ids__sequence-item ids__rounded">
      <div class="brand-color-palette dark-mode">
        <img src="/assets/identity-draft/color2.png" />
      </div>
    </div>
  </div>
</div>
<div class="ids__wrapper">
  <div class="ids__space L" id="normality-vs-authenticity"></div>
  <h2>Industry Legibility vs Authenticity</h2>
  <div class="ids__text-width">
    <p>
      The task of developing our visual language is to balance clear
      identification within the competitive landscape with the creation of a
      memorable and authentic Modulate expression.
    </p>
    <div class="ids__sequence XL gap-L">
      <div class="ids__sequence-item">
        <p>Industry Legibility means Modulate:</p>
        <ul>
          <li>looks like a tech company,</li>
          <li>looks like an AI company,</li>
          <li>looks relevant for 2026.</li>
        </ul>
        <p>
          Achieved through aligning with core visual norms established by key
          industry players.
        </p>
      </div>
      <div class="ids__sequence-item">
        <p>Authenticity means Modulate:</p>
        <ul>
          <li>looks like Modulate,</li>
          <li>feels modulateish,</li>
          <li>conveys Modulate vibes.</li>
        </ul>
        <p>
          Achieved by deliberately searching outside our category to surface
          visual cues that clearly differentiate Modulate. This exploration is
          guided by a light awareness of existing references and anchored in our
          core brand values.
        </p>
      </div>
    </div>
    <p>Good examples from industry leaders.</p>
    <figure>
      <img src="/assets/identity-draft/norm1.png" />
    </figure>
    <p>Characteristics of industry legibility:</p>
    <ul>
      <li>the primary color is black or dark</li>
      <li>the graphics are very simple</li>
      <li>
        most wordmarks use low-contrast closed grotesques — a core 2020s trend.
        A rare and nice exception is ElevenLabs, which opts for a
        higher-contrast grotesque.
      </li>
    </ul>
  </div>
</div>
<div class="ids__wrapper">
  <div class="ids__space L" id="square-logo"></div>
  <h2>There has to be a square element</h2>
  <div class="ids__text-width">
    <p>
      The logo needs a square element alongside the wordmark; without it, we
      have to make up a new icon for every platform, app badge, profile picture,
      etc., which hurts consistency. A built-in square mark gives us a clear,
      repeatable icon wherever a square format is needed.
    </p>
  </div>

  <figure>
    <img src="/assets/identity-draft/square1.png" />
  </figure>
  <div class="ids__sequence L gap-S">
    <div class="ids__sequence-item">
      <p>
        The logo doesn’t solve the icon problem — it forces a new symbol to be
        invented each time, which breaks recognition and consistency.
      </p>
    </div>
    <div class="ids__sequence-item">
      <p>
        The logo is just text, so a separate symbol ends up serving as the icon
        — like OpenAI, where Blossom isn’t part of the logo but inevitably
        becomes the main identifier.
      </p>
    </div>
    <div class="ids__sequence-item">
      <p>
        The logo includes a square symbol, which naturally becomes the default
        icon whenever a square format is required.
      </p>
    </div>
  </div>
</div>
<div class="ids__wrapper">
  <div class="ids__space L" id="modulate-brand-identity-sketch"></div>
  <h2>Modulate logo sketch</h2>
  <div class="ids__text-width">
    <p>Here’s en example of what might be a solution for the Modulate logo.</p>
  </div>
  <div class="ids__space S"></div>
  <figure class="ids__rounded">
    <img src="/assets/identity-draft/Artboard 7.png" />
  </figure>
  <div class="ids__space S"></div>
  <figure class="ids__rounded">
    <img src="/assets/identity-draft/Artboard7copy.png" />
  </figure>
  <div class="ids__space S"></div>
  <figure class="ids__rounded">
    <img src="/assets/identity-draft/Artboard7copy3.png" />
  </figure>
  <div class="ids__space S"></div>
  <figure class="ids__rounded">
    <img src="/assets/identity-draft/Artboard7copy4.png" />
  </figure>
  <div class="ids__space S"></div>
  <figure class="ids__rounded">
    <img src="/assets/identity-draft/Artboard7copy2.png" />
  </figure>
  <div class="ids__space S"></div>
  <figure class="ids__rounded">
    <img src="/assets/identity-draft/Artboard7copy5.png" />
  </figure>
  <div class="ids__space S"></div>
  <figure class="ids__rounded">
    <img src="/assets/identity-draft/Artboard7copy6.png" />
  </figure>
  <div class="ids__space S"></div>
  <figure class="ids__rounded">
    <img src="/assets/identity-draft/Artboard7copy7.png" />
  </figure>
  <div class="ids__space S"></div>
  <figure class="ids__rounded">
    <img src="/assets/identity-draft/Artboard7copy8.png" />
  </figure>
  <div class="ids__space XL"></div>
  <div class="ids__space XL"></div>
</div>
{% endblock %}
