{% extends 'layout.html' %} {% set pageTitle = 'Modulate Platform Demo' %} {%
block content %}

<div class="ids__wrapper">
  <div class="ids__space L"></div>

  <div class="ids__text-width">
    <h1>Thoughts on visual identity</h1>
    <p class="caption">
      By Eugene Arutyunov and Ilya Sinelnikov, December 2025
    </p>

    <div class="ids__space S"></div>

    <p class="caption"><a href="#color-palette">Color palette</a></p>
    <p class="caption">
      <a href="#normality-vs-authenticity">Normality vs Authenticity</a>
    </p>
    <p class="caption">
      <a href="#square-logo">There has to be something square</a>
    </p>
    <p class="caption">
      <a href="#modulate-brand-identity-sketch">Modulate logo sketch</a>
    </p>
  </div>
</div>
<div class="ids__wrapper">
  <div class="ids__space L" id="color-palette"></div>
  <h2>Color palette</h2>
  <div class="ids__text-width">
    <p>
      The color solution for brand communication has to be aligned with two
      functional color palettes: interface palette and emotions palette.
    </p>
  </div>
  <div class="ids__space S"></div>
  <div class="ids__sequence XL gap-S">
    <div class="ids__sequence-item">
      <div class="interface-color-palette ids__rounded">
        {% include 'color-palette.html' %}
      </div>
    </div>
    <div class="ids__sequence-item">
      <div class="color-palette emotions-color-palette dark-mode ids__rounded">
        <!-- Attack / rejection -->

        <div
          class="emotion-color-sample"
          style="background-color: rgba(var(--emotion-angry-RGB), 1)">
          Angry
        </div>
        <div
          class="emotion-color-sample"
          style="background-color: rgba(var(--emotion-contemptuous-RGB), 1)">
          Contemptuous
        </div>
        <div
          class="emotion-color-sample"
          style="background-color: rgba(var(--emotion-disgusted-RGB), 1)">
          Disgusted
        </div>

        <!-- Threat / uncertainty -->

        <div
          class="emotion-color-sample"
          style="background-color: rgba(var(--emotion-afraid-RGB), 1)">
          Afraid
        </div>
        <div
          class="emotion-color-sample"
          style="background-color: rgba(var(--emotion-anxious-RGB), 1)">
          Anxious
        </div>
        <div
          class="emotion-color-sample"
          style="background-color: rgba(var(--emotion-stressed-RGB), 1)">
          Stressed
        </div>
        <div
          class="emotion-color-sample"
          style="background-color: rgba(var(--emotion-surprised-RGB), 1)">
          Surprised
        </div>
        <div
          class="emotion-color-sample"
          style="background-color: rgba(var(--emotion-ashamed-RGB), 1)">
          Ashamed
        </div>
        <div
          class="emotion-color-sample"
          style="background-color: rgba(var(--emotion-frustrated-RGB), 1)">
          Frustrated
        </div>

        <!-- Excited / engaged -->

        <div
          class="emotion-color-sample"
          style="background-color: rgba(var(--emotion-affectionate-RGB), 1)">
          Affectionate
        </div>
        <div
          class="emotion-color-sample"
          style="background-color: rgba(var(--emotion-amused-RGB), 1)">
          Amused
        </div>
        <div
          class="emotion-color-sample"
          style="background-color: rgba(var(--emotion-excited-RGB), 1)">
          Excited
        </div>
        <div
          class="emotion-color-sample"
          style="background-color: rgba(var(--emotion-happy-RGB), 1)">
          Happy
        </div>
        <div
          class="emotion-color-sample"
          style="background-color: rgba(var(--emotion-hopeful-RGB), 1)">
          Hopeful
        </div>
        <div
          class="emotion-color-sample"
          style="background-color: rgba(var(--emotion-proud-RGB), 1)">
          Proud
        </div>
        <div
          class="emotion-color-sample"
          style="background-color: rgba(var(--emotion-relieved-RGB), 1)">
          Relieved
        </div>
        <div
          class="emotion-color-sample"
          style="background-color: rgba(var(--emotion-curious-RGB), 1)">
          Curious
        </div>

        <!-- Low energy, negative -->

        <div
          class="emotion-color-sample"
          style="background-color: rgba(var(--emotion-sad-RGB), 1)">
          Sad
        </div>
        <div
          class="emotion-color-sample"
          style="background-color: rgba(var(--emotion-disappointed-RGB), 1)">
          Disappointed
        </div>
        <div
          class="emotion-color-sample"
          style="background-color: rgba(var(--emotion-bored-RGB), 1)">
          Bored
        </div>
        <div
          class="emotion-color-sample"
          style="background-color: rgba(var(--emotion-tired-RGB), 1)">
          Tired
        </div>
        <div
          class="emotion-color-sample"
          style="background-color: rgba(var(--emotion-concerned-RGB), 1)">
          Concerned
        </div>
        <div
          class="emotion-color-sample"
          style="background-color: rgba(var(--emotion-confused-RGB), 1)">
          Confused
        </div>

        <!-- Calm / grounded -->

        <div
          class="emotion-color-sample"
          style="background-color: rgba(var(--emotion-calm-RGB), 1)">
          Calm
        </div>
        <div
          class="emotion-color-sample"
          style="background-color: rgba(var(--emotion-confident-RGB), 1)">
          Confident
        </div>
        <div
          class="emotion-color-sample"
          style="background-color: rgba(var(--emotion-interested-RGB), 1)">
          Interested
        </div>

        <!-- No strong signal -->

        <div
          class="emotion-color-sample"
          style="background-color: rgba(var(--emotion-neutral-RGB), 1)">
          Neutral
        </div>
        <div
          class="emotion-color-sample"
          style="background-color: rgba(var(--emotion-unknown-RGB), 1)">
          Unknown
        </div>
      </div>
      <div class="fingerprint-visualization-wrapper">
        {% include "fingerprint-visualization.html" %}
      </div>
    </div>
  </div>
  <div class="ids__text-width">
    <p>
      Probably, the solution is to choose one primary brand color and use it
      prominently — and limit multicolor to a certain area, make it an accent.
    </p>
  </div>
  <div class="ids__sequence">
    <div class="ids__sequence-item">
      <div class="brand-color-palette dark-mode">(Illustration)</div>
    </div>
    <div class="ids__sequence-item">
      <div class="brand-color-palette dark-mode"></div>
    </div>
  </div>
</div>
<div class="ids__wrapper">
  <div class="ids__space L" id="normality-vs-authenticity"></div>
  <h2>Normality vs Authenticity</h2>
  <div class="ids__text-width">
    <p>
      The task of developing our own visual language comes down to finding a
      balance between identification in the existing competitive landscape and
      creating a memorable authentic image.
    </p>
    <div class="ids__sequence XL gap-L">
      <div class="ids__sequence-item">
        <p>Normality means Modulate:</p>
        <ul>
          <li>looks like a tech company,</li>
          <li>looks like an AI company,</li>
          <li>looks like it‘s 2026</li>
        </ul>
        <p>Can be achieved through “normalization” relative to key players.</p>
      </div>
      <div class="ids__sequence-item">
        <p>Authenticity means Modulate:</p>
        <ul>
          <li>looks like Modulate,</li>
          <li>feels modulatish,</li>
          <li>gives Modulate vibes</li>
        </ul>
        <p>
          Can be achieved through a directed search through completely random
          images and an attempt to see ourselves in them. At the same time, it's
          useful to be peripherally aware of existing artifacts and remember
          brand values.
        </p>
      </div>
    </div>
    <p>Good examples of normality.</p>
    <figure>
      <img src="/assets/identity-draft/norm1.png" />
    </figure>
    <p>Characteristics of normality:</p>
    <ul>
      <li>the primary color is black or dark</li>
      <li>the graphics are very simple</li>

      <li>
        for wordmarks, low-contrast closed grotesques are used (a long-standing
        trend of the 2020s), a pleasant exception — Elevenlabs, a grotesque with
        increased contrast
      </li>
    </ul>
  </div>
</div>
<div class="ids__wrapper">
  <div class="ids__space L" id="square-logo"></div>
  <h2>There has to be something square</h2>
  <div class="ids__text-width">
    <p>
      The logo construction should be: something square + wordmark. If we don't
      have a recognizable brand element with square proportions, we'll have to
      invent it every time we create a social media account or an app icon for
      any platform.
    </p>
  </div>

  <figure>
    <img src="/assets/identity-draft/square1.png" />
  </figure>
  <div class="ids__sequence L gap-S">
    <div class="ids__sequence-item">
      <p>
        The logo doesn't provide an answer to the question "what will we have as
        an icon", we have to invent something each time, and this doesn't work
        for brand recognition and consistency.
      </p>
    </div>
    <div class="ids__sequence-item">
      <p>
        The logo is text-based, a special symbol that isn't part of the logo is
        used for the icon. (OpenAI's guidelines say that Blossom cannot be used
        as primary branding, but in fact this is their main identifier.)
      </p>
    </div>
    <div class="ids__sequence-item">
      <p>
        The logo has a square symbol and it's used when a square icon is needed.
      </p>
    </div>
  </div>
</div>
<div class="ids__wrapper">
  <div class="ids__space L" id="modulate-brand-identity-sketch"></div>
  <h2>Modulate logo sketch</h2>
  <div class="ids__text-width">
    <p>
      The logo construction should be: something square + wordmark. If we don't
      have a recognizable brand element with square proportions, we'll have to
      invent it every time we create a social media account or an app icon for
      any platform.
    </p>
  </div>
</div>
{% endblock %}
