<div class="cta" id="contact">
  <div class="cta-column">
    <div class="cta-section form ids__rounded dark-mode">
      <h2>Request an access to Modulate Platform</h2>
      <p>Set up your own behaviors, conversation types and metrics.</p>
      <form action="" class="schedule-form">
        <input
          type="email"
          placeholder="Enter your email"
          class="ids__form-textfield" />
        <button type="submit" class="ids__form-button ids__rounded">
          Send
        </button>
      </form>
    </div>
  </div>

  <div class="cta-column">
    <div class="cta-section idea ids__rounded">
      <p>Are you a developer?</p>
      <p>
        <strong><a href="#">Request access to the beta API</a></strong>
      </p>
    </div>
    <div class="cta-section kit ids__rounded">
      <p>Ready to spread the word about us?</p>
      <p>
        <strong
          ><a href="https://modulate.ai/press-kit"
            >Download the press kit</a
          ></strong
        >
      </p>
    </div>
  </div>
</div>
