<div class="cta" id="contact">
  <div class="cta-column">
    <div class="cta-section form ids__rounded dark-mode">
      <h2>Talk to us</h2>
      <p>
        Do you manage a call center or platform focused on voice conversations?
        Worried about fraud, negative customer experiences, unreliable AI
        agents, human agent burnout, or generally just trying to better
        understand what's going on in your conversations? Drop your email and
        we'll follow up.
      </p>
      <form action="" class="schedule-form">
        <input
          type="email"
          placeholder="Enter your email"
          class="schedule-form-input" />
        <button type="submit" class="schedule-form-button ids__rounded">
          Send
        </button>
      </form>
    </div>
  </div>

  <div class="cta-column">
    <div class="cta-section idea ids__rounded">
      <p>Are you a developer?</p>
      <p>
        <strong
          ><a href="#">Click here to request access to the beta API</a></strong
        >
      </p>
    </div>
    <div class="cta-section kit ids__rounded">
      <p>Ready to spread the word about us?</p>
      <p>
        <strong><a href="#">Download the press kit</a></strong>
      </p>
    </div>
  </div>
</div>
