<table class="demo-recordings-table promo">
  <thead>
    <tr>
      <th class="col-title">Pre-loaded conversations</th>
      <th class="col-fingerprint">Emotion pattern</th>
      <th class="col-behaviors">Detected behaviors</th>
    </tr>
  </thead>
  <tbody>
    <tr data-href="/demo" data-speaker-count="2" data-duration="468">
      <td class="col-title">
        <h3>Gender-role argument ends the relationship</h3>
        <div class="title-meta">Social, Personal Relationships</div>
      </td>
      <td class="col-fingerprint">
        <div class="table-fingerprint-wrapper">
          <div class="table-fingerprint dark-mode" style="--speaker-count: 2">
            {% include
            "components/fingerprints/gender-role-argument-ends-relationship.html"
            %}
          </div>
          <span class="table-fingerprint-time">07:48</span>
        </div>
      </td>
      <td class="col-behaviors">
        <span class="behaviour-label"
          >{% include "assets/behaviour-icon-kiki.html" %} Harassment</span
        >
        <span class="behaviour-count">+15</span>
      </td>
    </tr>
    <tr data-href="/demo" data-speaker-count="2" data-duration="333">
      <td class="col-title">
        <h3>Elderly caller needs login for surgery payment</h3>
        <div class="title-meta">Support, Banking</div>
      </td>
      <td class="col-fingerprint">
        <div class="table-fingerprint-wrapper">
          <div class="table-fingerprint dark-mode" style="--speaker-count: 2">
            {% include "components/fingerprints/elderly-caller-needs-login.html"
            %}
          </div>
          <span class="table-fingerprint-time">05:33</span>
        </div>
      </td>
      <td class="col-behaviors">
        <span class="behaviour-label"
          >{% include "assets/behaviour-icon-kiki.html" %} Vishing</span
        >
        <span class="behaviour-count">+6</span>
      </td>
    </tr>
    <tr data-href="/demo" data-speaker-count="2" data-duration="370">
      <td class="col-title">
        <h3>Sales rep fumbles MFA setup with IT</h3>
        <div class="title-meta">Support, IT services</div>
      </td>
      <td class="col-fingerprint">
        <div class="table-fingerprint-wrapper">
          <div class="table-fingerprint dark-mode" style="--speaker-count: 2">
            {% include
            "components/fingerprints/sales-rep-fumbles-mfa-setup.html" %}
          </div>
          <span class="table-fingerprint-time">06:10</span>
        </div>
      </td>
      <td class="col-behaviors">
        <span class="behaviour-label"
          >{% include "assets/behaviour-icon-kiki.html" %} Bargaining
          Manipulation</span
        >
        <span class="behaviour-count">+8</span>
      </td>
    </tr>
    <tr data-href="/demo" data-speaker-count="2" data-duration="271">
      <td class="col-title">
        <h3>Customer fights for refund in delivery fraud</h3>
        <div class="title-meta">Support, E-commerce</div>
      </td>
      <td class="col-fingerprint">
        <div class="table-fingerprint-wrapper">
          <div class="table-fingerprint dark-mode" style="--speaker-count: 2">
            {% include "components/fingerprints/customer-fights-for-refund.html"
            %}
          </div>
          <span class="table-fingerprint-time">04:31</span>
        </div>
      </td>
      <td class="col-behaviors">
        <span class="behaviour-label"
          >{% include "assets/behaviour-icon-kiki.html" %} Return Fraud
          Attempt</span
        >
        <span class="behaviour-count">+9</span>
      </td>
    </tr>
    <tr data-href="/demo" data-speaker-count="1" data-duration="472">
      <td class="col-title">
        <h3>Youtuber describes personal stalker experience</h3>
        <div class="title-meta">Social, Online media</div>
      </td>
      <td class="col-fingerprint">
        <div class="table-fingerprint-wrapper">
          <div class="table-fingerprint dark-mode" style="--speaker-count: 1">
            {% include
            "components/fingerprints/youtuber-describes-stalker-experience.html"
            %}
          </div>
          <span class="table-fingerprint-time">07:52</span>
        </div>
      </td>
      <td class="col-behaviors">
        <span class="behaviour-label"
          >{% include "assets/behaviour-icon-kiki.html" %} Social Boundary
          Setting</span
        >
        <span class="behaviour-count">+7</span>
      </td>
    </tr>
  </tbody>
</table>
