<table class="demo-recordings-table">
  <thead>
    <tr>
      <th class="col-fingerprint">Fingerprint</th>
      <th class="col-title">Title</th>
      <th class="col-category">Category</th>
      <th class="col-industry">Industry</th>
    </tr>
  </thead>
  <tbody>
    <tr data-href="/demo" data-speaker-count="2" data-duration="333">
      <td class="col-fingerprint">
        <div class="table-fingerprint-wrapper">
          <div class="table-fingerprint dark-mode" style="--speaker-count: 2">
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="0"
              data-width="5.1"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-confused"
              data-position="5.1"
              data-width="4.3"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="9.4"
              data-width="3.6"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-frustrated"
              data-position="13"
              data-width="6.8"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-concerned"
              data-position="19.8"
              data-width="4.3"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-angry"
              data-position="24.1"
              data-width="7.5"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-angry"
              data-position="31.6"
              data-width="5.4"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-contemptuous"
              data-position="37"
              data-width="4.3"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="41.3"
              data-width="3.6"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-frustrated"
              data-position="44.9"
              data-width="5.1"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="50"
              data-width="4.3"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
          </div>
          <span class="table-fingerprint-time">05:33</span>
        </div>
      </td>
      <td class="col-title">
        <h3>Elderly caller needs login for surgery payment</h3>
      </td>
      <td class="col-category">Support</td>
      <td class="col-industry">Banking</td>
    </tr>
    <tr data-href="/demo" data-speaker-count="2" data-duration="370">
      <td class="col-fingerprint">
        <div class="table-fingerprint-wrapper">
          <div class="table-fingerprint dark-mode" style="--speaker-count: 2">
            <div
              class="table-fingerprint-clip emotion-frustrated"
              data-position="0"
              data-width="8.5"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-concerned"
              data-position="8.5"
              data-width="7.1"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-angry"
              data-position="15.6"
              data-width="6.4"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-sad"
              data-position="22"
              data-width="5.7"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-confused"
              data-position="27.7"
              data-width="4.3"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-disappointed"
              data-position="32"
              data-width="6.4"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
          </div>
          <span class="table-fingerprint-time">06:10</span>
        </div>
      </td>
      <td class="col-title"><h3>Sales rep fumbles MFA setup with IT</h3></td>
      <td class="col-category">Support</td>
      <td class="col-industry">IT services</td>
    </tr>
    <tr data-href="/demo" data-speaker-count="2" data-duration="271">
      <td class="col-fingerprint">
        <div class="table-fingerprint-wrapper">
          <div class="table-fingerprint dark-mode" style="--speaker-count: 2">
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="0"
              data-width="5.7"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-confident"
              data-position="5.7"
              data-width="7.1"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-interested"
              data-position="12.8"
              data-width="6.4"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="19.2"
              data-width="4.3"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-confident"
              data-position="23.5"
              data-width="5.7"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-happy"
              data-position="29.2"
              data-width="4.3"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
          </div>
          <span class="table-fingerprint-time">04:31</span>
        </div>
      </td>
      <td class="col-title">
        <h3>Customer fights for refund in delivery fraud</h3>
      </td>
      <td class="col-category">Support</td>
      <td class="col-industry">E-commerce</td>
    </tr>
    <tr data-href="/demo" data-speaker-count="2" data-duration="472">
      <td class="col-fingerprint">
        <div class="table-fingerprint-wrapper">
          <div class="table-fingerprint dark-mode" style="--speaker-count: 2">
            <div
              class="table-fingerprint-clip emotion-concerned"
              data-position="0"
              data-width="5.1"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="5.1"
              data-width="4.3"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-anxious"
              data-position="9.4"
              data-width="5.7"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="15.1"
              data-width="6.4"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-stressed"
              data-position="21.5"
              data-width="4.3"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-calm"
              data-position="25.8"
              data-width="5.7"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-relieved"
              data-position="31.5"
              data-width="4.3"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="35.8"
              data-width="5.1"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
          </div>
          <span class="table-fingerprint-time">07:52</span>
        </div>
      </td>
      <td class="col-title">
        <h3>Youtuber describes personal stalker experience</h3>
      </td>
      <td class="col-category">Social</td>
      <td class="col-industry">Online media</td>
    </tr>
    <tr data-href="/demo" data-speaker-count="4" data-duration="97">
      <td class="col-fingerprint">
        <div class="table-fingerprint-wrapper">
          <div class="table-fingerprint dark-mode" style="--speaker-count: 4">
            <div
              class="table-fingerprint-clip emotion-angry"
              data-position="0"
              data-width="3.4"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-sad"
              data-position="3.4"
              data-width="2.8"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-angry"
              data-position="6.2"
              data-width="3.4"
              data-speaker-index="3">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-concerned"
              data-position="9.6"
              data-width="2.6"
              data-speaker-index="4">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-frustrated"
              data-position="12.2"
              data-width="3.1"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-angry"
              data-position="15.3"
              data-width="2.8"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-stressed"
              data-position="18.1"
              data-width="2.6"
              data-speaker-index="4">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-angry"
              data-position="20.7"
              data-width="3.1"
              data-speaker-index="3">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-sad"
              data-position="23.8"
              data-width="2.8"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-concerned"
              data-position="26.6"
              data-width="2.6"
              data-speaker-index="4">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-angry"
              data-position="29.2"
              data-width="3.4"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-frustrated"
              data-position="32.6"
              data-width="2.8"
              data-speaker-index="3">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-disappointed"
              data-position="35.4"
              data-width="2.6"
              data-speaker-index="4">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-angry"
              data-position="38"
              data-width="3.1"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-concerned"
              data-position="41.1"
              data-width="2.8"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
          </div>
          <span class="table-fingerprint-time">01:37</span>
        </div>
      </td>
      <td class="col-title">
        <h3>AI bot can't find customer's order</h3>
      </td>
      <td class="col-category">Support</td>
      <td class="col-industry">E-commerce</td>
    </tr>
    <tr data-href="/demo" data-speaker-count="2" data-duration="229">
      <td class="col-fingerprint">
        <div class="table-fingerprint-wrapper">
          <div class="table-fingerprint dark-mode" style="--speaker-count: 2">
            <div
              class="table-fingerprint-clip emotion-curious"
              data-position="0"
              data-width="5.1"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="5.1"
              data-width="4.3"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-amused"
              data-position="9.4"
              data-width="5.7"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-interested"
              data-position="15.1"
              data-width="4.3"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-happy"
              data-position="19.4"
              data-width="5.1"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-amused"
              data-position="24.5"
              data-width="4.3"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-curious"
              data-position="28.8"
              data-width="5.7"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
          </div>
          <span class="table-fingerprint-time">03:49</span>
        </div>
      </td>
      <td class="col-title">
        <h3>User demands MFA reset for drive access</h3>
      </td>
      <td class="col-category">Support</td>
      <td class="col-industry">IT services</td>
    </tr>
    <tr data-href="/demo" data-speaker-count="2" data-duration="229">
      <td class="col-fingerprint">
        <div class="table-fingerprint-wrapper">
          <div class="table-fingerprint dark-mode" style="--speaker-count: 2">
            <div
              class="table-fingerprint-clip emotion-sad"
              data-position="0"
              data-width="9.1"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-concerned"
              data-position="9.1"
              data-width="7.1"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-disappointed"
              data-position="16.2"
              data-width="6.4"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-calm"
              data-position="22.6"
              data-width="5.7"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-hopeful"
              data-position="28.3"
              data-width="4.3"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
          </div>
          <span class="table-fingerprint-time">03:49</span>
        </div>
      </td>
      <td class="col-title">
        <h3>Streamer rants on politics and censorship</h3>
      </td>
      <td class="col-category">Social</td>
      <td class="col-industry">Media & broadcasting</td>
    </tr>
    <tr data-href="/demo" data-speaker-count="2" data-duration="268">
      <td class="col-fingerprint">
        <div class="table-fingerprint-wrapper">
          <div class="table-fingerprint dark-mode" style="--speaker-count: 2">
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="0"
              data-width="5.1"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-confused"
              data-position="5.1"
              data-width="4.3"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="9.4"
              data-width="3.6"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-frustrated"
              data-position="13"
              data-width="6.8"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-concerned"
              data-position="19.8"
              data-width="4.3"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-angry"
              data-position="24.1"
              data-width="7.5"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-angry"
              data-position="31.6"
              data-width="5.4"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-contemptuous"
              data-position="37"
              data-width="4.3"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="41.3"
              data-width="3.6"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-frustrated"
              data-position="44.9"
              data-width="5.1"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="50"
              data-width="4.3"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
          </div>
          <span class="table-fingerprint-time">04:28</span>
        </div>
      </td>
      <td class="col-title">
        <h3>Angry caller demands update on late delivery</h3>
      </td>
      <td class="col-category">Support</td>
      <td class="col-industry">E-commerce</td>
    </tr>
    <tr data-href="/demo" data-speaker-count="2" data-duration="385">
      <td class="col-fingerprint">
        <div class="table-fingerprint-wrapper">
          <div class="table-fingerprint dark-mode" style="--speaker-count: 2">
            <div
              class="table-fingerprint-clip emotion-frustrated"
              data-position="0"
              data-width="8.5"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-concerned"
              data-position="8.5"
              data-width="7.1"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-angry"
              data-position="15.6"
              data-width="6.4"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-sad"
              data-position="22"
              data-width="5.7"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-confused"
              data-position="27.7"
              data-width="4.3"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-disappointed"
              data-position="32"
              data-width="6.4"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
          </div>
          <span class="table-fingerprint-time">06:25</span>
        </div>
      </td>
      <td class="col-title">
        <h3>Manager pushes IT for password reset</h3>
      </td>
      <td class="col-category">Support</td>
      <td class="col-industry">IT services</td>
    </tr>
    <tr data-href="/demo" data-speaker-count="2" data-duration="314">
      <td class="col-fingerprint">
        <div class="table-fingerprint-wrapper">
          <div class="table-fingerprint dark-mode" style="--speaker-count: 2">
            <div
              class="table-fingerprint-clip emotion-concerned"
              data-position="0"
              data-width="5.1"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="5.1"
              data-width="4.3"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-anxious"
              data-position="9.4"
              data-width="5.7"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="15.1"
              data-width="6.4"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-stressed"
              data-position="21.5"
              data-width="4.3"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-calm"
              data-position="25.8"
              data-width="5.7"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-relieved"
              data-position="31.5"
              data-width="4.3"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="35.8"
              data-width="5.1"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
          </div>
          <span class="table-fingerprint-time">05:14</span>
        </div>
      </td>
      <td class="col-title">
        <h3>Customer tries account recovery without security steps</h3>
      </td>
      <td class="col-category">Support</td>
      <td class="col-industry">E-commerce</td>
    </tr>
    <!-- <tr data-href="/demo" data-speaker-count="1" data-duration="56">
      <td>
        <div class="table-fingerprint-wrapper">
          <div class="table-fingerprint dark-mode" style="--speaker-count: 1">
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="0"
              data-width="3.5"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-amused"
              data-position="3.5"
              data-width="6.7"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-happy"
              data-position="10.2"
              data-width="5.5"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="15.7"
              data-width="3.0"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-excited"
              data-position="18.7"
              data-width="4.1"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-amused"
              data-position="22.8"
              data-width="5.4"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="28.2"
              data-width="4.0"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-happy"
              data-position="32.2"
              data-width="5.7"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="37.9"
              data-width="4.1"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-amused"
              data-position="42"
              data-width="5.6"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="47.6"
              data-width="3.4"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-happy"
              data-position="51"
              data-width="5.0"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
          </div>
          <span class="table-fingerprint-time">00:56</span>
        </div>
      </td>
      <td class="col-title"><h3>Comedy routine about Danish English skills</h3></td>
      <td>Show</td>
      <td>Entertainment</td>
    </tr>
    <tr data-href="/demo" data-speaker-count="3" data-duration="85">
      <td>
        <div class="table-fingerprint-wrapper">
          <div class="table-fingerprint dark-mode" style="--speaker-count: 3">
            <div
              class="table-fingerprint-clip emotion-interested"
              data-position="0"
              data-width="4.5"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-excited"
              data-position="4.5"
              data-width="3.7"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-confident"
              data-position="8.2"
              data-width="3.4"
              data-speaker-index="3">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-interested"
              data-position="11.6"
              data-width="4.0"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-interested"
              data-position="15.6"
              data-width="3.7"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-frustrated"
              data-position="19.3"
              data-width="3.4"
              data-speaker-index="3">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-neutral"
              data-position="22.7"
              data-width="4.0"
              data-speaker-index="1">
              <div class="table-fingerprint-visualization"></div>
            </div>
            <div
              class="table-fingerprint-clip emotion-concerned"
              data-position="26.7"
              data-width="3.7"
              data-speaker-index="2">
              <div class="table-fingerprint-visualization"></div>
            </div>
          </div>
          <span class="table-fingerprint-time">01:25</span>
        </div>
      </td>
      <td class="col-title">
        <h3>Game strategy coordination and performance discussion</h3>
      </td>
      <td>Gaming</td>
      <td>Entertainment</td>
    </tr> -->
  </tbody>
</table>
