<div class="ids__sequence M" style="margin-bottom: 0">
  <!-- no strong signal -->
  <div class="ids__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: rgba(var(--emotion-neutral-group-RGB), 1);
        color: rgba(var(--ids__text-inverted-RGB), 1);
      ">
      <p>emotion-neutral-group</p>
      <p></p>
    </div>
  </div>

  <!-- attack / rejection -->
  <div class="ids__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: rgba(var(--emotion-attack-rejection-group-RGB), 1);
        color: rgba(var(--ids__text-inverted-RGB), 1);
      ">
      <p>emotion-attack-rejection-group</p>
      <p></p>
    </div>
  </div>

  <!-- threat / uncertainty -->
  <div class="ids__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: rgba(var(--emotion-threat-uncertainty-group-RGB), 1);
        color: rgba(var(--ids__text-inverted-RGB), 1);
      ">
      <p>emotion-threat-uncertainty-group</p>
      <p></p>
    </div>
  </div>

  <!-- calm / grounded -->
  <div class="ids__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: rgba(var(--emotion-calm-grounded-group-RGB), 1);
        color: rgba(var(--ids__text-inverted-RGB), 1);
      ">
      <p>emotion-calm-grounded-group</p>
      <p></p>
    </div>
  </div>

  <!-- excited / engaged -->
  <div class="ids__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: rgba(var(--emotion-excited-engaged-group-RGB), 1);
        color: rgba(var(--ids__text-inverted-RGB), 1);
      ">
      <p>emotion-excited-engaged-group</p>
      <p></p>
    </div>
  </div>

  <!-- low energy, negative -->
  <div class="ids__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: rgba(var(--emotion-low-energy-negative-group-RGB), 1);
        color: rgba(var(--ids__text-inverted-RGB), 1);
      ">
      <p>emotion-low-energy-negative-group</p>
      <p></p>
    </div>
  </div>
</div>
